[2017-05-04 08:41] delvedor opened #5 "'*' does not catch all routes."
The following code will not work as expected:
[code]
The lookup will call the default route, because `find-my-way` does not split the first `'/'` from the url path.

Related: https://github.com/fastify/fastify/issues/81

[2017-05-08 12:23] delvedor commented on #5
I found that the issue is caused by the order of the checks in the find function.
If we check `wildcard => params => static` (and not `static => params => wildcard`) the issue will disappear, but the overall performances will decrease considerably.
I'll continue to investigate.

[2017-06-27 06:59] #5 closed

[2017-07-07 10:52] gajus opened #15 "Using regex to capture the URL parameters"
The following route definition works in Express.js, but does not work in Fastify/ find-my-way
, `/cinema-logos/:cinemaId(\\d+)-:cinemaName.svg`.

In Fastify, it produces `params: { 'cinemaId(\d+)-:cinemaName.svg': '1000146-vue.svg' },`, whereas I expect to get `cinemaId` and `cinemaName` as separate parameters.

`:cinemaId-:cinemaName` is not working either, because the matching expression appears

[2017-07-07 10:55] gajus commented on #15
Looks like only one parameter can be used per "directory", https://github.com/delvedor/find-my-way/blob/41bdc50f823c47a6c716b746c7cf9dd0bb723ca7/index.js#L53-L54

This is very limiting ..

[2017-07-07 11:08] mcollina commented on #15
Thanks for reporting this! We should definitely have a look on how to best handle support for multiple dynamic parts of the URL.

Do you see a quick fix for this?

[2017-07-07 11:12] gajus commented on #15
Not unless you allow to use a regex in the URIs.

[2017-07-07 11:14] mcollina commented on #15
@gajus I do not think that will work, given how this library works.
However, `:cinemaId-:cinemaName` might do?

[2017-07-07 11:16] gajus commented on #15
You could just allow regex as the route definition. That would be an acceptable option, and it would be straightforward to implement, e.g.

[code]

would become

[code]

Named capture groups are stage 3, https://github.com/tc39/proposal-regexp-named-groups.

[2017-07-07 11:17] gajus commented on #15
You'd still need to allow to define regex for the parameter matching groups. That wouldn't be neither more performant or more convenient.

[2017-07-07 11:18] mcollina commented on #15
Given how it is implemented, I do not think this library could easily support regexps. Feel free to try a PR if you think it's easy or feasible.

[2017-07-07 11:21] gajus commented on #15
I've gone back to using Express.js as this issue is a deal-breaker and I doubt you are going to have fix soon. Raised an issue for reference.

[2017-07-07 11:24] mcollina commented on #15
Thanks for reporting!

[2017-07-07 11:47] delvedor commented on #15
We could support regex, but we should add a new kind of node to avoid performances regression, since regular expressions are terribly slow. I'll work on this.

One of our focus is compatibility, so use new features is not a viable option.

Thanks for reporting.

[2017-07-07 11:59] gajus commented on #15
I thought about this at first too. However, I don't see how you are going to prioritize the routes using a fallback routing mechanism.

[2017-07-13 10:20] delvedor commented on #15
Partially closed in #16, parameters group will arrive in a future pr, currently is not high priority.

[2017-07-13 10:40] gajus commented on #15
The current addition does not add anything to find-my-way that was not already supported by using Fastify with parameter validation.

[2017-07-13 10:45] delvedor commented on #15
Correct, as I told you [here](https://github.com/fastify/fastify/issues/122#issuecomment-313694575).

If you have some suggestions on how implement grouping parameters I'll be happy to hear them! :)

[2017-07-13 11:00] mcollina opened #17 "support for multiple params"
I think the current problem for #15 is not about regexps. It's about multiple params in the same part:

[code]

Currently, find-my-way only supports one parameter within two `/`.

[2017-07-16 17:24] delvedor commented on #15
Since this issue has been addressed I think we can close it, and leave open just #17.

[2017-07-16 17:24] #15 closed

[2017-07-16 18:13] delvedor commented on #17
Our first goal is to not compromise the performances, and a feature like this would do it.

The only solution I see now is to discover if we are adding a *multiple parametric route* during the insertion and create a new kind of node, in this way at runtime we will not spent time trying splitting the parameter on `'-'`, but we'll do that only if we are in a *multiple parametric* node. In this way t

[2017-08-07 14:50] deividasjackus opened #20 "Parametric path resolution"
[code]

### Works as expected
http://localhost:3000/a/perfectly-fine-route => `{"param":"perfectly-fine-route"}`

### Does not work
- http://localhost:3000/a => `{"param":"a"}`
- http://localhost:3000/a-non-existing-route => `{"param":"a-non-existing-route"}`
- http://localhost:3000/a/ => `TypeError: Cannot read property 'length' of null`

[2017-08-07 15:07] delvedor commented on #20
I'm able to reproduce this, thank you for reporting!
I'll fix it as soon as I can.

If you want to try, fire a PR! :)

[2017-08-08 12:00] #20 closed

[2017-09-11 07:02] robinvdvleuten opened #23 "support for multiple methods"
It would be really nice to have support for routes with multiple methods (like Express' `all()` or Hapi's support of all methods as array).

[2017-09-12 07:35] delvedor commented on #23
Done in #24, thank you for contributing! :)

[2017-09-12 07:35] #23 closed

[2017-09-12 10:52] iwanjunaid opened #26 "Got 404 Using curl -I"
Following code always return 404 using this command ```curl -I http://localhost:6000/```

[code]

The response header is:

[code]

Why?

[2017-09-14 07:19] iwanjunaid commented on #26
ah my bad :smile: thank you

[2017-09-14 07:19] #26 closed

[2017-09-23 09:40] brunoscopelliti commented on #17
Hi @delvedor ,
I've tried to add support for multi parametric routes. I've followed your suggestion, and created a new node type for this kind of route.
Any feedback is appreciated.

[2017-09-23 13:42] delvedor opened #28 "Better handling of wildcard routes"
Currently we are suffering the following issue:
Given this route declaration
[code]
It will respond only to `/test/at-lest.one.character`, while `/test/` will not work.
Is not that easy to solve at the moment, it will require a refactor on how we are handling the routes prefixes, because currently a prefix almost always contains the `/` at the end, and that is our issue.

I'll leave this here, as

[2017-09-26 04:28] BigMurry commented on #28
I have another problem, give the route declaration:
[code]
when the request is `OPTIONS /test/foo`, it will respond `404`

[2017-09-27 17:11] delvedor commented on #17
Closed in #27

[2017-09-27 17:11] #17 closed

[2017-09-27 17:18] delvedor commented on #28
@BigMurry thanks for checking out!
Yes, the problem is related to the prefix handling, indeed the request is `OPTIONS /example/hello` it will work.

[2017-09-27 17:55] delvedor commented on #28
@BigMurry while working on this issue I've fixed your issue, I'll publish the fix as soon as I find a solution also the main issue :P

[2017-09-29 07:23] #28 closed

[2017-10-01 18:19] AVVS opened #32 "issue with path validation"
#30 causes this:

With this PR in place I get the following error:

[code]

Likely fails here: https://github.com/fastify/fastify/blob/master/fastify.js#L594-L598

Specifically for these instructions so as not to poke around repos:

[code]

Where prefix is `''` - i haven't yet added a test-case to verify this, and why it happens, and maybe it simply should be `*` instead of `/*` in the fastify, bu

[2017-10-02 05:23] brunoscopelliti opened #33 "AssertionError: Method 'GET' already declared for route"
I came across this (still failing) test case while thinking a general solution for the issue https://github.com/delvedor/find-my-way/pull/29#issuecomment-333401951

[code]

Currently it's not possible to configure a routing such as the one above:
_AssertionError: Method 'GET' already declared for route '/orders'_.

Do you think find-my-way should support this use case?

[2017-10-02 07:54] delvedor commented on #33
Yes, this is correct, you have already defined a node of kind 3.

We could support that kind of behavior, but I'm pretty sure that the performances will slow down a lot and the overall complexity will increase.
@mcollina thoughts?

[2017-10-02 07:58] mcollina commented on #33
IMHO we should not support it, but provide a little bit more guidance in how to handle the situation. The current error is not explaining the what is happening and how to fix it.

[2017-10-14 04:50] brunoscopelliti commented on #33
@mcollina could you please clarify what you mean...
Do you intend to mention this case in the documentation, or to change the code to make the error more descriptive? (or both perhaps?)

[2017-10-14 06:03] delvedor commented on #33
Probably both, but detect that error is not super easy, it will require a custom logic to "see what is around".

[2017-10-20 06:11] brunoscopelliti opened #37 "Do you want to use pathlizer?"
I've extracted the logic we use in `Router.prototype.on` to parse the path in a separate module, [pathlizer](https://github.com/brunoscopelliti/pathlizer).

**Pros**
* Separates the concern of parsing the path, and creating the tree
* It handles better some edge cases, and gives meaningful errors when path in not valid

**Cons**
* It's an external dependency

Do you think is it worth to use it, or

[2017-10-22 20:26] delvedor commented on #37
Hi! Nice work!
If I understand correctly you do not differentiate between simple parametric paths or regex parametric or multiple regex parametric. Right?

[2017-10-23 07:33] brunoscopelliti commented on #37
Thanks for having taken a look.
Yes, that's correct...
I thought this kind of differentiation would fit better the module that eventually consumes the structured path built by pathlizer.

`chunk[i]` is a regexp parametric node if `chunk[i].regexp != null`.

`chunk[i]` is part of a multiple parametric node if `chunk[i+1] && chunk[i+1].value.startsWith('/') === false`.

[2017-11-07 10:04] hekike opened #39 "Support for multiple versions"
Have you ever considered to add version support to `find-my-way`?
If I understand correctly it could be a new child node in a Radix Tree below the path node.

Something like this:

[code]

Lookup could happen by `Accept-Version` header with finding the biggest version that satisfies via `semver`.

[2017-11-07 10:06] hekike opened #40 "Support for .off method to unmount a route"
Would be nice to have an `off` method on the router instance to be able to unmount already attached handler.

[code]

[2017-11-08 11:49] mcollina commented on #39
This would be a good addition, as long as it does not slow things down. My worry is if we need to add a check for this in all the other nodes,

[2017-11-08 14:51] delvedor commented on #39
I'll check if I can implement it without compromising the performances.
This router should be as light as possible.

[2017-11-08 14:57] hekike commented on #39
@delvedor thanks!

[2017-11-13 10:13] i5ting opened #41 "use methods lib"
[code]

[2017-11-13 10:16] delvedor commented on #41
Hi, thank you for checking out the project!
I don't want to add dependencies that are not needed. The change you are proposing is not adding anything except few less lines.

Have a nice day :)

[2017-11-13 10:16] #41 closed

[2017-11-13 10:21] i5ting commented on #41
@delvedor

maybe add this

[code]

[2017-11-13 10:26] i5ting opened #42 "add koa && express support"
code

[code]

need a pr?

[2017-11-13 10:31] delvedor commented on #42
Hi! This router aims to be framework independent, so it uses the defaults nodejs request and response object.
If you want to add support for koa, probably an external lib that depends on `find-my-way` could be the best option.

[2017-11-13 11:41] i5ting commented on #42
@delvedor https://github.com/moajs/moa-router#usage  support koa/express/http

[2017-11-13 11:41] #42 closed

[2017-11-13 11:42] i5ting commented on #42
## Performace

QPS

1. moa-router(http) 28456
1. moa-router(koa) 17439.6
1. koa-router 12748.73
1. moa-router(express) 11779.1
1. express-router 10374.6

[2017-11-13 11:57] delvedor commented on #42
This is not correct. You have copy pasted the code and remove all the contributions of other developers. That is not a nice thing to do in the open source world.

What I was suggesting was create a router and declare `find-my-way` as dependency, then use the `find-my-way` apis to reach your goal.

[2017-11-13 12:11] delvedor commented on #32
Closing for inactivity :)
Related: https://github.com/fastify/fastify/issues/324

[2017-11-13 12:11] #32 closed

[2017-11-13 14:20] i5ting commented on #42
i'm sorry，it‘s really a quick and dirty way，i wanna show a better way for design，we only need a little code to achive the goal

[2017-11-13 14:26] i5ting commented on #42
@delvedor i will be refact my code later～thanks

[2017-11-14 03:27] i5ting commented on #42
[code]

[2017-11-14 03:27] i5ting commented on #42
@delvedor and the desc now is `a better router base on find-my-way(support for koa/express/http) https://github.com/moajs/moa-router `

[2017-11-14 07:32] mcollina commented on #42
Good job! :)

[2017-11-14 16:07] i5ting commented on #39
@hekike maybe use store is a good choice!

[code]

[2017-11-14 16:21] delvedor commented on #39
@i5ting it could be a solution, but the problem is that we should use semver, which as far as I know uses regular expressions a lot.

To lower the friction that this change will introduce we should find a way to store the different handlers in the Node and define which one use inside the `find` algorithm, based on the presence of the `Accept-Version` header.

I'm working on this.

[2017-11-14 16:53] delvedor commented on #39
@hekike I'm wondering if we want to support a semver range in the declaration:
[code]

[2017-11-14 22:14] hekike commented on #39
How about that routes have a fix version number like `1.0.0`, `1.1.0` and 2.0.0` and the `accept-version` header should tell it's expectations with `semver` ranges like `~1.0.0`, `^1.0.0` or `2.x` and router should find the best fitting version.

For example:

[code]

[2017-11-17 21:17] delvedor commented on #40
Closed by #43

[2017-11-17 21:17] #40 closed

[2017-11-18 17:12] delvedor commented on #39
I thought about this and there is not an easy way to insert it without compromising the performances and the structure of the tree.
Because you should add a check every time you call `lookup` for the presence of the header and change the Node structure to handle multiple pair method:path with different versions.

The easiest solution without compromising the performances is to build a wrapper arou

[2017-11-18 17:23] hekike commented on #39
Okay, thanks for putting effort into it.
Your solution looks good, with a couple of versions it should be performant as well.

For now, we will handle route versioning with a middleware that sits after `find-my-way`:
https://github.com/restify/node-restify/blob/9a017158ca077b0ab4a4e0cad0e4709a79e2b74d/lib/plugins/conditionalHandler.js#L38

[2017-12-03 23:28] delvedor opened #44 "Static and parametric routes fails if they have a common prefix"
[code]

- `/test` works correctly
-  `/hello` works correctly
- `/temp` returns 404, should be handled by the parametric handler

Related: https://github.com/fastify/fastify/issues/508

[2017-12-05 10:16] #44 closed

[2017-12-20 21:40] nwoltman opened #46 "Wildcard route without trailing slash has wrong params"
See [this RunKit](https://runkit.com/embed/zzyyia5a68va).

[code]

Expected `params` to be `{'*': ''}` both times (or `/static` not to match the route, similar to the functionality for `/static/:param`).

(I do think that `find-my-way` should treat routes the same whether they have a trailing slash or not, but that's a separate issue.)

[2017-12-21 10:08] delvedor commented on #46
Hi! Thank you for contributing!
Looks like you have found a bug, I'm working on it :)

[2017-12-21 16:24] #46 closed

[2017-12-21 16:28] nwoltman commented on #46
Wow that was a fast fix! Thanks @delvedor!

[2018-01-01 00:33] proyb6 opened #48 "Serving static compressed gzipped and brotli contents?"
How do you serving compressed contents with find-my-way route?

[2018-01-03 21:41] delvedor commented on #48
Hi! `find-my-way` is just an http router, you will get the standard request and response objects from node core.
A very very basic example could be:
[code]

[2018-01-03 21:41] #48 closed

[2018-01-18 00:50] nwoltman opened #49 "Defining static route after parametric route causes issue"
Issue based on fastify/fastify#573

Works:

[code]

Does not work:

[code]

Expected `router.find('GET', '/s')` to return the same object as above.

Related to #44 which was fixed (except for this issue) by #45.

[2018-01-28 20:19] hekike opened #55 "RegExp routing issue"
After commit https://github.com/delvedor/find-my-way/commit/5899a6081ce08a2eeff13ad04b700112a67fa253 the following route stopped working:

[code]

Related issue https://github.com/delvedor/find-my-way/issues/46

[2018-01-28 21:54] delvedor commented on #55
Hi! Thank you for reporting!
It is not crystal clear to me what you are trying to accomplish here. Regular expressions should be declared inside round parenthesis.

This is the internal tree build with your route declaration:
[code]
As you can see the route is not interpreted as regex parametric, but as wildcard.

[2018-01-28 23:46] hekike commented on #55
Ahh okay, I missed the parenthesis part of the docs, apologize.
Probably it was a bug that it's worked earlier :D

[2018-01-28 23:46] #55 closed

[2018-01-28 23:48] delvedor commented on #55
Probably! :P
I'll update the regex docs to make this more clear:)

[2018-01-28 23:52] hekike commented on #55
That's a good idea, thanks!

[2018-01-31 21:01] jsumners commented on #49
Can this be addressed before Monday?

[2018-01-31 22:44] delvedor commented on #49
I'm working on this.

[2018-02-01 14:01] #49 closed

[2018-02-14 20:36] nwoltman opened #59 "Registering multiple routes with the same prefix unintentionally creates new routes"
Simplified case from fastify/fastify#786

[code]

Somehow the `POST /bulk` route exists after the `POST /b/` route is registered.

`router.prettyPrint()` doesn't show that it exists though:

[code]

Looks like it has something to do with the fact that `b/` and `bulk` both start with the letter `b`. If you change `bulk` to something that doesn't start with the letter `b`, it works as expected.

[2018-02-14 21:35] allevo opened #60 "Found a wrong route"
The following code finds a wrong route
[code]

Expected:
`f` should be null

Issue born here: https://github.com/fastify/fastify/pull/787

[2018-02-15 15:04] delvedor commented on #60
That's strange, if you remove the trailing slash in the first route the test passes.
[code]

cc @nwoltman

[2018-02-15 15:05] delvedor commented on #60
It passes also if you use the `ignoreTrailingSlash` option.
[code]

[2018-02-15 16:13] nwoltman commented on #60
I'm guessing it has something to do with how lookups happen. The tree structure might give us some information on why this is happening:

## 1. `/b/bulk`

[code]

[code]

## 2. `/b` and `/b/bulk`

[code]

[code]

## 3. `/b/` and `/b/bulk` (Problem)

[code]

[code]

It looks like the lookup algorithm is skipping over the `b/` part and going directly from the root `/` to `bulk` (which creates `/bulk

[2018-02-16 14:52] allevo commented on #60
news?

[2018-02-27 11:53] mafintosh opened #62 "Regex groups seem to break it"
Had a  regex with a group inside which breaks the parsing `/foo/:id(([a-f0-9]{32},?)+)`

[code]

[2018-02-27 12:00] mafintosh opened #63 "Unclosed regex spins the cpu for ever"
The following unclosed regex makes find-my-way spin the cpu forever. Throwing an exception could be nicer :)

[code]

[2018-02-27 14:08] delvedor commented on #62
Currently I have no time to fix this, I'll give it a try asap.
If you can please send a pr! :)
Same for #63.

[2018-02-28 11:40] mcollina commented on #37
Closing for no activity. Feel free to reopen if you wish to discuss further.

[2018-02-28 11:40] #37 closed

[2018-02-28 11:40] mcollina commented on #39
Awesome. Closing this then.

[2018-02-28 11:40] #39 closed

[2018-03-02 21:24] #59 closed

[2018-03-02 21:24] #60 closed

[2018-03-02 22:02] nwoltman opened #67 "URL matches unexpectedly when multiple routes have a similar prefix"
#65 solved #59/#60, but it created this new bug:

[code]

#65 may not have been the right fix. It seems like something is going on with how prefixes are matched and might have something to do with the `label` property on nodes.

[2018-03-07 22:12] psmarsh opened #69 "repeated code for method and path validation"
Hi! Newbie coder here trying to learn stuff. I noticed that this code to validate paths is repeated twice, once in Router.prototype.off and once in Router.prototype.on:
[code]

Also, this code to validate methods is repeated twice, once in Router.prototype.off and once in Router.prototype._on:
[code]

Would it make sense to refactor these into functions, e.g. validatePath() and validateMethod()?

[2018-03-07 22:56] delvedor commented on #69
Hi! Thank you for checking out the project!
It could make sense, but since we are talking about of just three lines of code I think we can leave them as they are :)

[2018-03-07 23:00] mcollina commented on #69
Wrapping them in a function would mean that the stacktrace would not show the culprit function, but one level deep. This would be a good trade off if we had to repeat those several times, but for two repetition it is not worth it.

[2018-03-07 23:00] #69 closed

[2018-03-07 23:16] psmarsh commented on #69
Ah gotcha, that explanation makes sense mcollina, thanks

[2018-03-12 10:32] DenisFrezzato commented on #67
I found a similar erroneous behaviour with parametric routes.

[code]

[2018-03-12 11:11] mcollina commented on #67
@DenisFrezzato would you like to send a PR?

[2018-03-13 09:30] #67 closed

[2018-03-13 09:33] #62 closed

[2018-03-13 09:33] #63 closed

[2018-03-13 17:11] nwoltman commented on #67
@DenisFrezzato Thanks for the extra test cases! That helped me figure out the fix in #70 :)

[2018-03-13 22:28] DenisFrezzato commented on #67
@nwoltman thank you for the fix! I have tried to fix by myself, but I couldn't find out a nice solution :smile:

[2018-03-14 18:57] djwaffle2005 opened #73 "my dad died"
help

[2018-03-30 15:46] absolux opened #75 "Allow for identifying 404 vs 405"
Whenever the router fails to match a request, `.find()` returns `null` for two reasons:

- Method mismatch (405)
- Path mismatch (404)

Is there a way to differentiate between the two in my handler to send the right HTTP error ?

Thanks

[2018-03-30 16:09] delvedor commented on #75
No there is not and I'm not going to support it at the moment because it will cost on the overall performances.

We can discuss what does it mean "right HTTP error". I my opinion 404 is correct, because there are not routes that handles the given method.
The 405 error (which by spec is `Method Not Allowed`) should be handled before the routing.
[code]

[2018-03-30 16:27] delvedor commented on #75
Yes, but this is based on your applications structure and needs, again, for this specific case you should add a check *before* run the router.

This is a router and not an entire framework, this library should call a function based on two strings, the method and the url. Every other logic, such as "auth routes should now allow other methods than..." is out of the scope of the router :)

[2018-03-31 12:27] absolux commented on #75
I'm using a wrapper around `find-my-way` which composes multiple handlers into a single function, and I use `find` instead of `lookup` to find the appropriate route handler, as below:
[code]
Unfortunately, `find` doesn't return a `Node` instance, but a `handle` object or `null` otherwise.
In my case, I need `findNode(path)` which returns a node instance or null, then I can use `node.getHandler(met

[2018-03-31 15:44] delvedor commented on #75
Usually a tree structure returns the data stored in a Node and not the Node itself, the node contains way more data which the user should not work with.

It will not work in any case, as you can see [here](https://github.com/delvedor/find-my-way/blob/933b63fc23c59c9cc84924308478d28587102108/node.js#L172-L181) the internal handlers object contains all HTTP methods with a default value of `null`.

[2018-04-17 17:43] jsumners opened #76 "Splitting on `;` instead of `?`"
It looks like some vendors use `;` instead of `?` to separate the path from the query string. This is wrong per spec:

   data in the path component (Section 3.3), serves to identify a
   resource within the scope of the URI's scheme and naming authority
   (if any).  The query component is indicated by the first question
   mark ("?") character and terminated by a number sign ("#") character
   o

[2018-04-17 21:53] delvedor commented on #76
:weary:

Thank you for pointing out, would you mind send a pr?

[2018-04-18 13:05] delvedor commented on #76
Closed in #77 .

[2018-04-18 13:05] #76 closed

[2018-06-08 15:45] delvedor commented on #39
https://github.com/delvedor/find-my-way/pull/79

[2018-06-19 11:55] kiramdany opened #80 "Bug: parametrised regex being bypassed"
The regex for route 2 and 3 of the below code shouldn't match but I am getting the following responses

| | Route | Response |
| --- | --- | --- |
| 1 | /non-trailing-path | {"1: Non trailing path": { path1: 'non-trailing-path' }} |
| 2 | /non-localised/ | {"2: trailing localised": { locale2: 'non-localised' }} |
| 3 | /non-localised/wildcard | {"3: trailing localised with wildcard": { locale3: 'n

[2018-06-19 12:08] kiramdany commented on #80
I have also noticed a similar issue with the following routes (route 2 and 3 the same as in the original issue)

[code]

| | Route | Response |
| --- | --- | --- |
| 0a | /catch-all | _No response_ |
| 0b | /en-gb | {"0: catch all": { '*': '/en-gb' }} |
| 2a | /non-localised/ | _No response_ |
| 2b | /en-gb/ | {"2: trailing localised": { locale2: 'en-gb' }} |
| 3a | /non-localised/wildcard | _No r

[2018-06-28 19:29] AVVS opened #82 "weird pretty-print of routes"
Please check the screenshots, looks like just a glitch with the names

<img width="282" alt="screen shot 2018-06-28 at 12 28 40 pm" src="https://user-images.githubusercontent.com/1713617/42056378-dbdac488-7ace-11e8-8476-35b093494462.png">
<img width="584" alt="screen shot 2018-06-28 at 12 28 33 pm" src="https://user-images.githubusercontent.com/1713617/42056379-dbf7d9d8-7ace-11e8-9636-dbb6da79b16a

[2018-06-28 19:41] mcollina commented on #82
Nice finding! Would you like to help out with a PR?

[2018-06-28 19:43] AVVS commented on #82
I don't know about the time I can devote to it right now, though if nobody tackles it I can definitely give it a go

[2018-06-28 19:54] delvedor commented on #82
Thanks for reporting this!
If we want to fix this we might want to refactor that function to use [`node-archy`](https://github.com/substack/node-archy) which will simplify the code.

[2018-06-29 18:23] oncletom opened #83 "Auto-binded `route.lookup` method?"
Hello,

I discover with quite a joy this module :-) It's nice to explain routing without banging the head of people with frameworks.

What do you think of providing an auto-binded `route.lookup` method? It would make it even easier to plug into a `createServer` call.

[code]

[2018-06-30 07:28] mcollina commented on #83
Thanks for reaching out! We still support Node 6, and bind there is slow, and a user of newer Node.js versions can easily bind it themselves.

I think we should not bind it at this point.

[2018-06-30 07:37] oncletom commented on #83
Ah, understood. I did not realise binding was still costly in Node 6 😅

I raised this issue at first because I wrote the following code example:

[code]

It did not work because the routes were created after binding the element.
The context of the writing is for a code example, thus I did not want to have to explain the binding nor the declaration order.

I'll try to find a way to make it simple t

[2018-06-30 07:37] #83 closed

[2018-07-22 04:48] reothues opened #86 "error: "There is already a child with label '*' ""
[There is already a child with label '*']
is thrown in assertion if you do more than 1 wildcards using *.xx
[code]

[2018-07-22 04:58] reothues commented on #86
also this is not supported
[code]

[2018-07-22 05:10] reothues commented on #86
ok
i figured it out.
`/*.js` just means `/*` to you. so there's that assertion error.

[2018-07-22 05:20] reothues commented on #86
AssertionError [ERR_ASSERTION]: Method 'GET' already declared for route '/:'
ALSO:
`server.get('/:id(^\\d+)', (req, res, next) => {`
`server.get('/:file(^\\w+)', (req, res, next) `

[2018-07-22 10:04] delvedor commented on #86
Hi! Thank you for checking out `find-my-way`!
`'/*.{js,css,map}'` is not a supported regex, as stated in the [README](https://github.com/delvedor/find-my-way#supported-path-formats).

ALSO:
server.get('/:id(^\\d+)', (req, res, next) => {
server.get('/:file(^\\w+)', (req, res, next)

These are the same route, how can `find-my-way` understand which one is the right one to match? This is the expected

[2018-07-22 10:04] #86 closed

[2018-07-25 08:33] reothues commented on #86
thanks for answering.
`/*.{js,css,map}`  is wildcard, not regex. but I think it's ok to say that you would only support some subset of wildcards.
the second question is that \w and \d are different regexes. I hope that if I put \d before \w, maybe find-my-way should distinguish from number to not number.
so after all there is no way to route `/*.{js,css,map}` to one same handler.

[2018-08-15 18:09] nahue-f opened #87 "README snippet typo"
Hi!

There is an error in this snippet:
[code]

`res.send` it's not a valid function, since `send` is an Express and/or Restify API. It should be `res.end`.

[2018-08-15 18:13] delvedor commented on #87
Nice catch! Would you like to send a pr to fix it?

[2018-08-15 18:47] nahue-f commented on #87
Sure!

[2018-08-15 22:10] mcollina commented on #87
Fixed in #88

[2018-08-15 22:10] #87 closed

[2018-09-06 20:26] allevo opened #90 "Unexpected route order"
Hi!

The [readme](https://github.com/delvedor/find-my-way#match-order) explains very well the route order.
In particular the parametric routes go before the parametric ones with regexp.

Using the following code,

[code]

The regexp route should come after the parametric one and the expected output should be
[code]

Instead the output is
[code]

Am I wrong in reading the readme?

I'm able to push

[2018-09-06 20:54] dcousens commented on #90
It may be that your `33` is static?  And that has precedence?

[2018-09-06 22:19] dcousens commented on #90
That appears to be it.

[code]

[2018-09-07 10:47] allevo commented on #90
Thanks, I'll

[2018-09-07 11:59] delvedor commented on #90
This behavior is correct, we are matching every chunk between the slashes in order.

This is true, but we run the check for every node in the current level and not the entire route.

[2018-09-08 10:06] poppinlp opened #93 "`versions` param not work for create Node instance."
Hi.

The screenshot is part of [`node.js`](https://github.com/delvedor/find-my-way/blob/master/node.js#L17) file in this repo which we could see the `versions` param is not using in creating. `this.versions` get a new semver store instance every time.

![image](https://user-images.githubusercontent.com/1970625/45252945-265c1980-b391-11e8-9f77-fa5ad3997e46.png)

This will lead to a wrong result for

[2018-09-10 05:38] poppinlp commented on #93
By the way, why not move the `test/issue-*.test.js` into your classified test case files since they are ready hard to know the content when just see the file name(the issue number could be commented in test case)?

[2018-09-13 05:33] prabas08 opened #95 "How to use cors like we do in express"
I would like to allow cross origin resource sharing.I am able to do that in express. How do we achieve this in find-my-way.

[2018-09-13 08:16] mcollina commented on #95
Thanks for reaching out. find-my-way is just a router, so doing cors is out of scope. I would recommend using http://npm.im/fastify and http://npm.im/fastify-cors.

[2018-09-13 08:16] #95 closed

[2018-09-13 21:12] #90 closed

[2018-09-15 18:59] mcollina commented on #82
awesome!

Il giorno sab 15 set 2018 alle 05:23 PoppinL <notifications@github.com> ha
scritto:

[2018-09-17 10:09] delvedor commented on #93
https://github.com/delvedor/find-my-way/pull/94

[2018-09-17 10:09] #93 closed

[2018-09-17 10:11] delvedor commented on #82
@poppinlp thanks!
Actually, I don't know if we want to support this feature in the future.
Before work on it, I would suggest waiting for https://github.com/delvedor/find-my-way/pull/89, which will change the internals a lot.

[2018-09-18 08:42] delvedor commented on #82
You can open a pr, but #89 will change completely how `find-my-way` works internally, and eventually, we will remove the `prettyPrint` API.

[2018-10-04 00:34] misterdjules opened #96 "case insensitive mode errors when installing valid routes that are not all lowercase"
Here's a repro of the problem I'm seeing:

[code]

Changing those routes to be all lowercase seems to work around the problem. Not passing `{caseSensitive: false}` to the `Router` constructor also works around it.

[2018-10-04 06:47] mcollina commented on #96
I bet I forgot a toLowerCase somewhere in https://github.com/delvedor/find-my-way/pull/84. Would you like to send a PR to fix this?

[2018-10-04 16:36] misterdjules commented on #96
@mcollina I'll do that if I can find the time :)

[2018-10-04 18:36] misterdjules commented on #96
Done in https://github.com/delvedor/find-my-way/pull/97. @mcollina Can you please take a look?

[2018-10-04 20:52] misterdjules opened #98 "parameters' case not preserved in case insensitive mode"
When passing parameters values to route handlers, find-my-way doesn't preserve the case of the actual parameters:

[code]

In the output above, I would expect the _value_ of the parameter `bar` to be `BAR`, not `bar`.

Looking at [some of the case insensitive tests](https://github.com/delvedor/find-my-way/blob/master/test/case-insesitive.test.js#L41-L56), this seems intentional. However in general

[2018-10-04 20:56] mcollina commented on #98
It was intentional in the sense that when I was writing the code I quickly realized that it would be harder to implement than the current approach, as right now we do a `.toLowerCase()` once, while we would have to do a `.toLowerCase()` at every iteration.

Definitely 👍 for a PR. We might have to bump the major in that case, but I don't see a bit of a problem with it.

[2018-10-04 20:57] misterdjules commented on #98
@mcollina Sounds great! Let me submit the first draft of a PR that I have, and we can iterate on that.

[2018-10-04 21:03] misterdjules commented on #98
Submitted at https://github.com/delvedor/find-my-way/pull/99.

[2018-11-07 00:35] mlovrovich commented on #20
[code]

### Works as expected
GET http://localhost:4000/test_namespace/test_type/test_id
GET http://localhost:4000/test_namespace/jobss/test_id

### Does not work
GET http://localhost:4000/test_namespace/jobs/test_id

[2018-11-07 00:36] mlovrovich opened #101 "Cannot find route to use"
[code]

### Works as expected
GET http://localhost:4000/test_namespace/test_type/test_id
GET http://localhost:4000/test_namespace/jobss/test_id

### Does not work
GET http://localhost:4000/test_namespace/jobs/test_id

[2018-12-12 21:51] IpaliboWhyte opened #104 "Route matching is not falling back to parametric route"
I'm running Restify 7.x in production and I was able to reproduce an issue I discovered down here.

Consider the following:

[code]
If `router.on('GET', '/a/bbaa',...)` is taking out, `DELETE /a/bbar` seems to be matched otherwise, I get a 404. Any ideas why this is happening?

Thanks in advance!

[2018-12-13 22:44] IpaliboWhyte commented on #104
Had a look and it looks like **parametricBrother** only gets propagated to the first child and not other STATIC descendants in `Node.prototype.addChild`.

[2018-12-13 22:48] mcollina commented on #104
Would you like to send a PR?

[2018-12-13 22:51] IpaliboWhyte commented on #104
Yes, currently working on it.

[2018-12-14 18:47] IpaliboWhyte commented on #104
Found another scenario, this is actually from the routes defined in example.js file.

[code]

I'm not 100% sure this is happening for the same reason, will take a look into this.

[2018-12-19 17:55] IpaliboWhyte commented on #104
Closing this as issue is now [fixed](https://github.com/delvedor/find-my-way/pull/105)

[2018-12-19 17:55] #104 closed

[2018-12-23 16:40] delvedor commented on #101
Hello!
Can you retry with the [latest release](https://github.com/delvedor/find-my-way/releases/tag/v1.17.0)?

[2018-12-23 18:33] PavelPolyakov opened #106 "support Accept header for "versioning""
Hi @delvedor,

That's Pavel who contributed to `fastify-swagger` (if that's somehow important ;)).

I'd like to extend `find-my-way` to support "versioning" through the `Accept` header.

Here is some info:
http://labs.qandidate.com/blog/2014/10/16/using-the-accept-header-to-version-your-api/
https://youtu.be/mZ8_QgJ5mbs?t=1275 (starting from 21:15)

I don't know if I succeed, but I want to try. At

[2018-12-23 19:16] delvedor commented on #106
Hello!
Probably I'm missing something, but versioned routes are supported both in Fastify and this module :)

https://github.com/delvedor/find-my-way#versioned-routes
https://www.fastify.io/docs/latest/Routes/#version

[2018-12-23 19:30] PavelPolyakov commented on #106
You are right this is possible, but here are the differences:
1. What is currently supported is semver through `Accept-Version` header (and only)
2. What I want to have supported is
  `Accept: application/vnd.example.api+json;version=2` will lead to one handler
  `Accept: application/vnd.example.api+json;version=3` will lead to the different one
  The actual value of the header may vary, but it's

[2018-12-23 19:41] delvedor commented on #106
I fear that the implementation that you are proposing will affect too much the performances of the router, but if you can work on an implementation that **does not impact** on the current performances, I'm happy to review them.

What I would suggest you is to build a wrapper of the router to handle your scenario, while if you are working with Fastify, the `onRequest` hook should do the work that y

[2018-12-23 19:56] PavelPolyakov commented on #106
Thanks,

Let's see what I can do. You're talking about the results of the `npm run bench`, are you?

If I got you right this would mean defining all the handlers logic in `onRequest`. Which is definitely possible, but not that pretty comparing to the standard routes.

[2019-01-23 23:12] mlovrovich commented on #101
@delvedor hello, the same issue is happening with the latest release 1.17.1

[2019-01-24 07:31] mcollina commented on #101
I think the only way to fix this us to have a different trie for every http method.
It’s a big refactoring, and I fear neither Tomas or myself have time now.

[2019-02-06 07:39] delvedor commented on #106
Closed in #107.

[2019-02-06 07:39] #106 closed

[2019-02-06 14:18] Marsup opened #110 "404 on valid routes"
Hi,

I'm getting 404s on paths matching existing routes, it looks similar to #101 but I'm not sure it's the same issue so I'm creating a new one.

I only have a repro with fastify involved, hope you don't mind: https://runkit.com/embed/lx7pizmbgoru
There are several weird things in my example like a completely different path influencing the outcome, but it looks like the issue is with the variable

[2019-02-06 16:51] IpaliboWhyte commented on #110
Hey, I'll try to look into this as I've experienced a similar issue in the [past](https://github.com/delvedor/find-my-way/issues/104).

[2019-02-06 17:00] mcollina commented on #110
Thanks @IpaliboWhyte!

[2019-02-07 18:39] IpaliboWhyte commented on #101
Another way to fix this issue could be storing some useful information on each trie node and use those information to make decision in `Node.prototype.findChild` or `Node.prototype.findVersionChild`

[2019-02-07 18:46] mcollina commented on #101
@IpaliboWhyte what would you have in mind?

[2019-02-08 09:12] IpaliboWhyte commented on #101
@mcollina Hey, sorry for the late reply. The problem I see so far is that we go too far in the tree. In this case we go too far to search for `test_namespace/jobs/test_id` in the node for route: `/test_namespace/jobs/:name/run`.

This issue is also reproducible with these two routes
`/jobs/:name/run`
`/:type/:id`

and this search query => `jobs/test_id`

In theory, if nodes have some stored proper

[2019-02-08 10:20] extremety1989 opened #113 "hey, how can i read file ? like index.html"
i want to display index.html

router.on('GET', '/', (req, res, params) => {
  res.readFileSync('./index.html',function(err,data){
        if(err){res.statusCode = 404}else{
        res.statusCode = 200
        }
        res.end(data)
  })
})
it says res.readFileSync it s not a function

[2019-02-08 10:32] IpaliboWhyte commented on #113
@extremety1989  you need to use **fs** module to read the file.

[code]

[2019-02-08 10:38] delvedor commented on #113
Hello! As said by @IpaliboWhyte you should use Node.js's `fs` module.
This module is just an HTTP router, and it does not offer nothing more than routing :)

[2019-02-08 10:38] #113 closed

[2019-02-08 10:46] delvedor commented on #101
Not sure that the approach you describe will work.
We are using a [radix tree](https://en.wikipedia.org/wiki/Radix_tree), which means that a Node can contain multiple slashes.
Take the following example:

Route 1: `/hello/work`
Route 2: `/hello/wonderful/home/kitchen`
Route 3: `/heaven/cloud`

The generated tree will be

[code]

If we start splitting on the slash when a new request comes in we wil

[2019-02-08 19:48] IpaliboWhyte commented on #101
good point, might affect performance alot. I'll try to take a deep dive into this when I get some time :)

[2019-02-08 19:49] IpaliboWhyte commented on #110
@Marsup can you try the latest version?

[2019-02-08 20:04] delvedor commented on #110
I didn’t released the latest version yet, for some reason is failing on master, and I didn’t have time to fix it yet.

[2019-02-08 21:22] mcollina commented on #110
Tests are now passing on master.

[2019-02-09 08:49] delvedor commented on #110
Released `v1.18.1`.

@Marsup can you check if the bug still persists?

[2019-02-09 14:57] coreyfarrell opened #114 "Support `ignoreTrailingSlash` in options for `.on()`"
While working on fastify/fastify-static#93 I found that the new option is sometimes incompatible with `ignoreTrialingSlash: true`.  I'd like to propose that it should be possible to disable this on specific calls to `router.on()`:
[code]

Would you accept such a feature?

[2019-02-09 15:05] delvedor commented on #114
While this should be an easy feature to add, I'm not sure this is the root of the issue you are having in `fastify-static`, are you sure it can't be fixed there?

[2019-02-09 15:24] coreyfarrell commented on #114
My PR to fastify-static is to respond with HTTP 301 redirect on requests to directories made without the trailing slash.  So if you request `http://localhost/dir` this responds with 301 redirect to `http://localhost/dir/`, which then responds with `dir/index.html`.

This poses a problem when fastify-static is setup with `wildcard: false` on a server that is ignoring trailing slashes.  The `wildcar

[2019-02-09 15:42] delvedor commented on #114
This is a way better solution.

Enabling the router to change the trailing slash behavior will lead to bugs in the future, for example, if a plugin uses this feature, and a user does not know about it, the resulting behavior will be identified as a bug. If we can avoid this kind of obscurity, it would be better.

A sweet feature that we could add to Fastify is to pass to every plugin via options t

[2019-02-09 16:22] coreyfarrell commented on #114
I've opened fastify/fastify#1444 as I think it could be generically useful to let plugins query the server config.

TBH I still think that for the fastify-static use case the ability to tell find-my-way "I need a different handler for `/dir` vs `/dir/` regardless of ignoreTrailingSlash" would be useful as the work-around would add complexity and overhead to the request processing path.

[2019-02-11 07:42] Marsup commented on #110
It appears to be working, thanks a lot!

[2019-02-11 07:42] #110 closed

[2019-02-17 18:03] misterdjules commented on #98
Fixed by https://github.com/delvedor/find-my-way/commit/7a875fd462b208cb7593c8c9fa9fc58c5d95ee3f.

[2019-02-17 18:03] #98 closed

[2019-02-18 05:55] mcollina opened #119 "Enable Snyk"
As titled ^

[2019-02-18 07:29] delvedor commented on #119
Done.

[2019-02-18 07:29] #119 closed

[2019-02-27 17:58] Hume3 commented on #33
Why did you decide to use listeners instead of simple methods or functions ?, These are really problematic, I made an adaptation for microJS and I had difucltades, to use hot module reload. I had to add the events .on () and remove them .off (), but it really looks a bit ambiguous and I do not feel trust, I think the syntax used by express router or other routers they are more solids.

Find-my-way

[2019-02-28 08:45] delvedor commented on #33
The API may look like an event emitter, but it is not, the router does not inherit from EventEmitter.

Use hot reload server side is a dangerous path since it will not clean the state (that's why you are having this "issue"). When working server side using a watcher that stops and reboots the server is the safest way.

I don't understand what you mean with "syntax", if you expect that you can decl

[2019-03-05 21:42] mahovich opened #123 "New option: redirect for trailing slashes"
`Find-my-way` has a` ignoreTrailingSlash` option that allows to access the same page at the addresses "/foo/" and "/foo".

For SEO it would be more useful to add an option that would redirect all requests with a slash at the end of the URL to the same URL without a slash, ignoring the query string (key and value).

| Request   | HTTP code | Response |
|-----------|-----------|----------|
| /foo

[2019-03-06 00:16] mahovich opened #124 "Adding and using names for the router"
I propose to make the coolest opportunity - to set a name for the router, similar to how it was done for [koa-router](https://www.npmjs.com/package/koa-router#module_koa-router--Router+url)

The name can be set as follows:
[code]

for use:
[code]

There are many options for using URL generation, for example, it can be used to generate sitemap.xml, for redirect, and the coolest thing is to use it i

[2019-03-06 09:12] mcollina commented on #124
This is actually a very interesting feature, I used something similar in ruby for a long time, and I think it might be worthwhile adding. However, I do not want to make the name unique on the system.

Specifically:

[code]

Should not throw, and the system should enable disambiguation.

How do you think we should handle that case?

[2019-03-06 18:39] mahovich commented on #124
IMHO, the name must be unique (as well as the URL).
When copying and pasting a router with an URL, you can forget to change the name and this will be fatal for the project, because many links will become incorrect.
In addition, when creating a new rule, there will be a need to independently verify the uniqueness of the name...

[2019-03-06 18:52] mcollina commented on #124
I would prefer to make them non-unique. In Fastify we use an encapsulation pattern, so a full plugin could be mounted with a specific prefix. Unfortunately having a single namespace significantly limits the use of this feature for us.

[2019-03-06 19:41] mahovich commented on #124
The decision on the uniqueness or non-uniqueness of the name may be at the discretion of the author of the repository. In order for this functionality to be in demand for a larger audience (including for a larger number of frameworks), can consider a new option, for example:
[code]
*but this is not necessary - it is more important not to complicate the plugin.

In any case, I will be very happy wi

[2019-03-25 13:48] sesam opened #125 "Coverage status badge broken?"
The coverage badge in the README doesn't show, and clickling on it leads to something without builds. Typo in the badge? Or WIP?

[2019-03-25 21:17] mcollina commented on #125
Likely the integration is broken.

[2019-04-01 19:36] coreyfarrell commented on #114
I'm closing as this seems to be unwanted, if I've misjudged feel free to reopen.

[2019-05-27 21:17] rw3iss opened #126 "Idea: Allow registration of multiple routes at once through an array?"
Does anyone else think it would nice to supply an array of routes to 'router.on([...])' to register them all with one call?
This would be useful if I want to define my sub/type-specific routes in other files, and have to import them somewhere else to be registered with the main router.
Instead of having to manually register each route, the sub-file could return an array of the routes, and the rout

[2019-05-29 03:07] IpaliboWhyte commented on #126
Hmm could be a nice feature but I think for the use case you've described, that could also be achieved with some abstraction outside of this module.

For example you could have a class that wraps the router instance and exposes a method that accepts a list of routes, then in your main file you would just call this method with an array all the pushed routes.

Example:
[code]

[2019-05-29 03:57] rw3iss commented on #126
Sure, that's what I'm doing :p
Was just thinking of an alternative interface, not really a big deal.
Thanks.

[2019-05-29 07:30] delvedor commented on #126
Hello! I don't think it is worth add the support for this since it will increase the internal code complexity *(you can already do `router.on(['GET', 'POST'], ...)`)* and you can easily achieve it with a loop in your code :)

[2019-05-29 07:40] #126 closed

[2019-06-14 15:45] RafaelGSS opened #127 "Returns routes registered without prettyPrint"
Hello!

Maybe can be interesting add to public API a method that returns the array of routes registered. ( this can help me in a plugin fastify - I know the hook `onRoute`, but this seems better. ).

Thx.

[2019-06-15 16:01] delvedor commented on #127
You can access already the registered routes via `router.routes` :)
It's not documented because I never saw the use of this, but it's kind of public API 😄

[2019-06-15 16:39] RafaelGSS commented on #127
I can expose in docs?

[2019-06-15 17:50] delvedor commented on #127
Feel free to send a pr :)

[2019-06-15 17:51] delvedor commented on #127
But if we expose this, we should also add a unit test ;)

[2019-06-16 15:21] RafaelGSS commented on #127
Sure, when I have time here, I'll do it.

[2019-07-09 01:12] #127 closed

[2019-08-19 03:20] fralonra opened #129 "prettyPrint outputs wrong indent"
I found a glitch with `prettyPrint`.
Take the following code as an example:
[code]

It will finally output like this, where the indent of the route `post('/pet/:id')` is not correct:
![S9U~X@(K2%{EX AYE}IG9L](https://user-images.githubusercontent.com/20400873/63237064-01477a80-c273-11e9-9223-d4890b54ebb5.png)

I know that `prettyPrint` is depreciated, but it seems just a small bug that can be easi

[2019-08-19 03:25] fralonra commented on #129
I have already made a PR. Feel free to merge it. Thanks.

[2019-08-30 08:26] #129 closed

[2019-08-30 08:29] #33 closed

[2019-09-24 08:14] RaghavendhraK opened #132 "OPTIONS not working in this wildcard scenario"
Hi,
With the below setup, the OPTIONS call is not working for the /obj/params/*, But the GET call works for the same.
Are we doing anything wrong with the setup?

[code]

Thanks,
Raghu

[2019-09-27 14:53] delvedor commented on #132
Hello! You are right, this is a bug.
I'll try to give it a look as soon as I can, if you want to try to fix, please go ahead!

[2019-09-27 15:01] delvedor commented on #132
The common root of the path causes the issue. Most of the edge cases are already covered, except for this one :S

A change that will solve this problem is to have a separate tree for every method, but this would break the `prettyPrint` method.
We can refactor `prettyPrint` to return an object that has the methods as keys and the values as the trees. I need to think about this since it would be a b

[2019-09-27 19:05] delvedor commented on #132
I've opened https://github.com/delvedor/find-my-way/pull/133 with a fix for this bug.
Would you mind take a look?

[2019-10-03 15:26] #132 closed

[2019-10-07 15:58] Eomm opened #135 "Multiple route with multiple path param and case insensitive"
Hi,
this snippet:

[code]

will throw:

[code]

If I set only one route, all works as expected.

Do you have any suggestion to solve?
If this is a bug could you suggest me where to start looking to help?

[2019-10-07 17:25] mcollina commented on #135
This looks like a bug.

Il giorno lun 7 ott 2019 alle 17:58 Manuel Spigolon <
notifications@github.com> ha scritto:

[2019-11-04 12:23] jbemmel opened #139 "no frills lookup: find-my-way leaner and meaner"
I like find-my-way and its minimalistic, no-frills approach. Here are some thoughts on making it even better:

The key function in find-my-way is '[lookup](https://github.com/delvedor/find-my-way/blob/master/index.js#L345)':
[code]
* 'ctx' is optional and gets passed as 'this' to the handler
* 'handle.store' is an optional parameter passed to router.on( ... )
* My application does not need version

[2019-11-04 17:40] jbemmel opened #140 "Make versioning truly optional"
In [this PR](https://github.com/delvedor/find-my-way/pull/107) versioning support was added. While this may be useful to some, not all applications require this, and it adds to the dependencies.

I would suggest to split this logic into a separate find-my-way-versioning package, and default to a no versioning approach (with no dependency on semver-store). If users want versioning support, they can

[2019-11-17 13:52] delvedor commented on #140
Hello! Thank you for checking out the library!
Both [safe-regex2](https://github.com/fastify/safe-regex2) and [semver-store](https://github.com/delvedor/semver-store) are very lightweight, and are not introducing many sub-dependencies *(only 1)*.
I don't see any strong reason to increase the complexity of this module just to save a few bytes :)

[2019-11-17 13:52] #140 closed

[2019-11-17 14:00] delvedor commented on #139
Hello!

That's true, if you want to use the `this` you should use a "normal" function.

It works, but passing the context via binding is more flexible while creating a closure is not always possible.

If you are not using these features, there is no overhead.

The point of `lookup`, is to provide a convenient function that take care of everything for you.
If you want to use a different approach, y

[2019-11-17 14:00] #139 closed

[2019-11-18 13:58] jbemmel commented on #139
Thanks, I switched to using [TrekJS](https://github.com/trekjs/router/blob/master/index.js) code directly

[2019-12-10 06:31] m-dary-nur opened #141 "How to use middleware"
Hi, can you show example how to use middleware like cors or socket.io with find-my-way router ?
 Thank you

[2019-12-10 16:33] delvedor commented on #141
Hello! This is an HTTP router and not a [connect](https://www.npmjs.com/package/connect) like framework :)
This library will only route your requests to a specified handler, if you want to have a full-featured framework I suggest you look at [Fastify](https://fastify.io/).

[2019-12-10 16:33] #141 closed

[2020-01-26 15:33] ElianCordoba opened #143 "Project roadmap"
Hi there, in the last month or so I took a deep dive at the code because I'm writing a post about it (explaining how it work, introducing people to open source). Now that I'm familiarized with the codebase I would like to contribute back.

One of the ideas I had was to re-write the code using modern ES6 syntax (mainly moving from prototypical inheritance to classes), also addressing what was said

[2020-01-29 17:21] delvedor commented on #143
Hello, thank you for the issue!
We could move to the class syntax, even though is just syntactic sugar around the prototypal inheritance.

I would not migrate the code to TypeScript, as I don't see a real value-added, but only a maintenance overhead.

[2020-01-29 18:08] leeoniya commented on #143
i would actually argue to go the other direction. pull everything into a a single closure and eliminate `this` altogether. since the router is typically a singleton (rarely extended, instantiated once), there should be no impact on performance. it will also compress better, since most internal vars will become private & mangle-able. ES6 classes typically de-suger (ES5) to a larger size than if the

[2020-02-05 20:38] milad-abbasi opened #145 "No match when ignoreTrailingSlash is set to true"
## Bug Report
This happens when `ignoreTrailingSlash` option is set to `true`

[code]

## Expected behavior

Path that must match:
`/a/AnythingHere/b`

Path that does not get a match:
`/a/c/b`

## Environment

- *node version*: 12.14.1
- *find-my-way version*: 2.2.1
- *os*: Ubuntu 18.04

[2020-02-16 09:20] milad-abbasi commented on #145
@mcollina Any thoughts on this?

[2020-02-16 10:40] mcollina commented on #145
This looks like a very bad bug. Would you like to send a PR to fix it?

[2020-02-16 11:14] milad-abbasi commented on #145
I'm afraid I don't have the time.

[2020-03-07 17:03] #145 closed

[2020-03-17 21:24] mhamann opened #147 "Bug `-` parameter separator logic"
I've got a situation where I'm taking an OpenAPI v3 doc, parsing it, and registering its paths in find-my-way via fastify.

However, I'm facing a problem where the OpenAPI doc has path parameters in the format `{some-param}`. I convert those to `:some-param` for find-my-way, but they're then interpreted as a parameter `some` + a path segment `param`. This is caused by this parsing logic: https://g

[2020-03-17 21:43] mcollina commented on #147
In https://github.com/delvedor/find-my-way/pull/27, this feature was actually coded with - as a separator, so it's working as expected.

We can potentially change this in a semver-major (one is due soon), but it 's not clear how if we want to retain similar functionality (having a part of a segment being parametric).

[2020-03-18 00:45] mhamann commented on #147
Thanks for the background @mcollina. So, what's the expected behavior of `/foo/:param-x` vs. `/foo/:param-x-:param-y`?

[2020-03-18 04:55] mhamann commented on #147
I looked at https://github.com/delvedor/find-my-way/blob/master/test/issue-17.test.js and realized that my first example would make `-x` the suffix of the parameter. So now I better understand the comment you made.

What do you think about wrapping a param to indicate that it should be taken literally? e.g. `/foo/:{param-x}`?

[2020-03-18 07:29] mcollina commented on #147
That would work.

[2020-05-13 09:52] ajaco opened #149 "Colliding routes causes params to be undefined in route handler"
Hi!

I was working on a project and I found some odd behaviour while using Fastify. I managed to reproduce it in `find-my-way`, so here goes.

Given the following routes, each with their own handler:

- `GET /foo/:id` (handler 1)
- `GET /foo/:color/:id` (handler 2)
- `GET /foo/red` (handler3)

If you then do a `GET /foo/red/123`, the correct handler (handler 2) will be invoked.
The `id`-param will

[2020-05-13 10:12] Eomm commented on #149
It seems related to https://github.com/fastify/fastify/issues/2261

[2020-05-13 13:45] mcollina commented on #149
The solution is to:

[code]

[2020-05-15 10:21] ajaco commented on #149
This does not solve the problem.

If you request `GET /foo/red/123`, `req.params` will look like this: `{id: '123'}`.

So while you, in this specific case, can infer that `color` missing from the `req.params` means that its value is actually `red`, that is not sustainable. What happens if you register the following routes:

If someone requests `/foo/red/123` now, how do you know its `red`? It coul

[2020-05-15 10:36] mcollina commented on #149
If you are using `fastify`,  you can find the options you have passed in when creating the routes as `req.context.config`.

[2020-05-15 10:46] mcollina commented on #149
You can also set a default for the color param with configuring a schema for the params: https://www.fastify.io/docs/latest/Validation-and-Serialization/#validation.

[2020-05-16 23:18] digitalmio opened #150 "URL rewriting"
I am wondering is it possible to do some trick and rewrite the URLs, like here for Express via middleware:
https://github.com/kapouer/express-urlrewrite

I am using Fastify and tried to change URL "onRoute", but it is not working as expected...
Many thanks

[2020-05-17 08:24] muhonglong opened #151 "Wildcard bug"
[code]

As I expect，the result `data` should be `{"hello": "wildcard"}`.

Actually, it is `{"hello": "world"}`.

[2020-05-17 10:02] mcollina commented on #151
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-05-17 10:05] mcollina commented on #150
I think this would be a nice addition, either in here or in Fastify.

In Fastify there is no "preRouting" hook where you can inject said functionality.
I'd be recommending to have a startup option that allows to overwrite `req.url` (node core objects).

I would keep this module without side effects.

@delvedor wdyt?

[2020-05-17 10:11] delvedor commented on #150
I agree that the feature should better live in Fastify. This module is for routing only :)
Unfortunately, it will be impossible to encapsulate the hook, as the encapsulation storage is provided by fin-my-way.

[2020-05-17 19:00] digitalmio commented on #150
OK. Shall I close this ticket then and open new one on Fastify as a Feature Proposal?

[2020-05-17 22:13] mcollina commented on #150
that'd be perfect, yes!

[2020-05-18 15:46] #150 closed

[2020-06-30 20:39] a0viedo opened #154 "Feature request: version validation"
I've troubleshooted an app that was running with an invalid `version` value and I believe in case of invalid input it should be better to throw early.

To reproduce:
[code]

[2020-08-14 14:58] delvedor commented on #154
Closed in #155.

[2020-08-14 14:58] #154 closed

[2020-08-28 11:03] eauc opened #161 "Unfathomable behaviour of params when mixin parametric and static routes"
Hello,

Version: 3.0.4

This issue is similar too https://github.com/delvedor/find-my-way/issues/149
but with even more strange behaviour

I found those problems while working with a Fastify server.

## long story short

If your parametric routes overlap with static routes
- you can be enable to reach the parametric route, instead getting 404
- some parameters can be empty
- some parameters value

[2020-08-28 11:05] eauc commented on #161
I have setup a git repository with the files used for investigating those problems here:
https://github.com/eauc/issue-find-my-way

[2020-08-28 11:46] mcollina commented on #161
Thanks for the research.. it would take some time to digest. There are definitely some bugs especially with the ignoreTrailingSlash option.

Would you like to send a PR to fix the first problem you have identified? Thanks.

[2020-08-28 12:08] eauc commented on #161
I added a little summary a the top since the Issue is quite long.

@mcollina thanks in advance for your time on this issue :pray:

The first problem aka empty parameter when its first matched by a static route ?

I think the problem is described/analysed here https://github.com/fastify/fastify/issues/2261#issuecomment-626457767

The routing algorithm seems to be "greedy" and does not backtrack to

[2020-08-28 13:51] mcollina commented on #161
The first bug I can see is:

[code]

This is wrong, as it should have the same behavior with or without `ignoreTrailingSlash`.

Note that this problem is independent of the greedy algorithm (that we are unlikely to change). I think it would be best to separate actual bugs (like the above) from the decisions.

----

A strategy that I have used in the past to deal with those cases is to create route

[2020-09-08 16:06] spasquali-ww opened #162 "sanitize on #find"
Hi,

Version 3.0.1

When using [lookup()](https://github.com/delvedor/find-my-way/blob/ce6d38b8a9430048934ddadb74a33950e7344101/index.js#L352) I see that the `req.url` is passed through [sanitizeUrl()](https://github.com/delvedor/find-my-way/blob/ce6d38b8a9430048934ddadb74a33950e7344101/index.js#L353) prior to forwarding the request to [find()](https://github.com/delvedor/find-my-way/blob/ce6d38b8

[2020-09-08 18:24] #162 closed

[2020-09-09 21:12] jhechtf opened #164 "[Request] Deno Library"
Greetings @delvedor, this is me formally asking if you have plans to make a Deno version of this library; if not, would you mind if I use your library as a base to create a Deno workable library?

[2020-09-21 12:43] AyoubElk opened #165 "Feature discussion: Support for request-based constraints"
## 1. Overview:

Find-my-way currently supports constraining routes only by versions.

The following is a proposal, based on the discussion in Fastify's issue [#2498](https://github.com/fastify/fastify/issues/2498), to add support for more generic request-based constraints.

@airhorns already made the case for both the motivation and utility of this feature, so I'll be going over the technical imp

[2020-09-23 13:50] airhorns commented on #165
Nice work!

Seems like a bug to me, but would be a breaking change, so my suggestion would be to log an issue for this but not try to fix it in this work

The other two constraints I have used (very rarely) would be protocol (this route is only available on SSL) and header value (this route is only available if this header is set). I don't think those are really that desirable of features, so my s

[2020-09-29 17:09] mcollina commented on #165
I'm sorry this is taking so long to respond. Unfortunately it would take me a significant amount of time to respond to all the question and provide some technical direction. We haven't really explored this space, so all direction would be really loose.

The recommendation would be to start working on some code, and we'll be happy to review.

[2020-11-05 13:40] bobaaaaa opened #171 "Question: How to route a wildcard path with slashes?"
Hey 👋

How would you model the following URL pattern:

[code]

I only need the `ID`. Everything before that I don't care.

[code]

Or do I need to add each folder path to a route pattern? Like this:

[code]

Thx for the help ❤️

[2020-11-07 08:34] delvedor commented on #171
Hello! I would avoid using regular expressions, as those will slow down your performance quite a bit.
If you have a very big number of nested folders that does not allow you to create specific routes for each one of them, probably the easiest thing to do is the following:
[code]
Otherwise, you can [glob](https://www.npmjs.com/package/glob) the directory that contains all of your folders, and then

[2020-11-11 11:21] bobaaaaa commented on #171
@delvedor Thx for help 👍

[2020-11-11 11:21] #171 closed

[2020-12-14 13:59] jsumners opened #173 "Migrate to Fastify org"
I realize we had a conversation about this somewhere at some point, but I can't remember when or where. I was just trying to answer https://github.com/fastify/fastify/issues/2738 and went to the Fastify GitHub org to find the `find-my-way` repo. It wasn't there. Given this is such a core piece of Fastify, I think it should be within that org.

[2020-12-14 15:04] mcollina commented on #173
I tend to agree.

[2020-12-14 22:07] Eomm commented on #173
I think you are referring to https://github.com/fastify/avvio/issues/109

While I agree on `avvio`, since `fastify` is the main user (only) of that module it has 12 dependents; this is not the case of `find-my-may` that it is framework agnostic and has more main users dependents.

I'm not contrary of course, it is a delvedor's choice in my opinion 👍

[2020-12-14 22:27] jsumners commented on #173
Yeah, that was it. Good find @Eomm. My last comment still stands https://github.com/fastify/avvio/issues/109#issuecomment-625904767

[2021-01-13 12:32] morigs opened #175 "Allow routes with colons"
Currently there is no way to define a route with colon in the path (expect regular expressions of course)
Some companies require following the [Google API conventions](https://cloud.google.com/apis/design/custom_methods) which use colon
It seems Express.js allows that by [using doubled colon](https://stackoverflow.com/a/52692196) or by [wrapping colon in the brackets](https://github.com/expressjs/

[2021-01-13 17:04] mcollina commented on #175
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-02-01 08:55] cmawhorter opened #177 "Using non-standard http methods - make httpMethods configurable?"
I took a look and didn't see any obvious issue with making this a configurable option for Router that defaults to http.methods. Would you be open to a pr?

[2021-02-01 09:30] mcollina commented on #177
Sure thing, send it over!

[2021-02-09 13:40] #165 closed

[2021-02-09 13:45] #175 closed

[2021-02-11 17:16] matthyk opened #179 "Question: Object as value in custom constraint"
Since version 4.0.0, it is possible to write your own constraint strategies. In the index.d.ts, however, it is specified that the values for the constraints must be strings. So my question is whether it is safe to also take object as values, as in the example below.

Current typing in index.d.ts:

[code]
Example with an object as key instead of a string:

[code]

Could be typed in the index.d.ts l

[2021-02-11 18:40] mcollina commented on #179
I would say that the best way is to send a PR and figure things out :).

[2021-02-12 17:35] matthyk commented on #179
Created PR #180

[2021-02-23 16:34] matthyk opened #181 "Question: Content Negotiation RFC 2616 Compliance"
I am currently developing a new strategy for content negotiation. To develop the strategy `RFC 2616` compliant it is required to send back a `406` error code (section `14.1`), if the server cannot send an acceptable response. In my understanding this is not possible with the current implementation. Should RFC compliance be ignored or should the current implementation be updated?

[2021-02-23 16:54] mcollina commented on #181
Can you please articulate what are your requirements? Fastify (which uses this module) supports content-negotiation on top of this module.

In other terms, this is router, not an HTTP/1.1 server.

[2021-02-24 10:39] matthyk commented on #181
Sorry for getting some things mixed up. What I mean, is that the constraints handling happens in the router, which it fine because it is its responsibility to select and call the correct handler. However, the used `lookup` method of the router does not offer any possibilities to define the behaviour if the internally used `find` method returns null, which means that no matching handler is found. C

[2021-02-24 11:01] mcollina commented on #181
That's currently not possible... maybe @airhorns has some ideas.

[2021-02-24 18:02] airhorns commented on #181
I see the trickiness here, but, I think that this is a pretty special need that doesn't seem like it would generalize that well to the other constraints. What do you think about just documenting that if a developer wants compliance with this RFC, they should make the default handler serve the 406 error code?

[2021-02-24 18:05] airhorns commented on #173
I would be in favour of this move too

[2021-02-24 18:44] mcollina commented on #181
I agree

[2021-02-24 21:02] matthyk commented on #181
I agree that this is a very specific requirement, but unfortunately the idea of returning `406` in the default handler does not solve the problem, because it is also necessary to return a `415` error code if the format of the entity sent is not supported by the server to follow the RFC specification.
I will find another solution, thanks for the answer.

[2021-02-24 21:09] #181 closed

[2021-03-30 13:44] #179 closed

[2021-04-05 12:16] airhorns commented on #173
@delvedor ping -- thoughts?

[2021-04-16 16:52] erfanium opened #186 "[Question] What does this line mean?"
While I was creating a Deno port of this project, I saw this line:
https://github.com/delvedor/find-my-way/blob/df6951b650cd9c8cc5cda5c6193951960b994515/node.js#L29

What's the point of  `false || ...`? The first condition is always false!

[2021-04-17 08:06] mcollina commented on #186
It sets thee default value to false.

[2021-04-17 08:06] #186 closed

[2021-04-17 11:05] erfanium commented on #186
It should be `this.hasConstraints = options.hasConstraints || false` to set the default value to false. `this.hasConstraints = false || options.hasConstraints` is no different from `this.hasConstraints = options.hasConstraints`. I'll create a PR for this

[2021-04-17 11:06] erfanium commented on #186
![unknown](https://user-images.githubusercontent.com/47688578/115110867-b4a9ca80-9f92-11eb-859b-881c90e651d5.png)

[2021-04-17 11:55] mcollina commented on #186
thanks!

[2021-04-17 14:24] erfanium commented on #164
I'm working on it here:

[2021-04-30 23:37] SJrX opened #190 "Routing Weirdness Within a Chunk?"
Hello,

Apologies if this just is a complete duplicate of #161 , I have read it, but admittedly not digested it, but maybe one aspect that wasn't clear to me is that this blurb from the README.md

I seem to be having issues, where matching is based not on a chunk, but on substrings in a chunk.

[code]

Test Script
[code]
*Router Output*
[code]
*Test Script Output*
[code]

In particular the ids we

[2021-05-01 08:25] delvedor commented on #190
Hello! I can reproduce the issue with the latest release of the router, it looks like it's an edge case of https://github.com/delvedor/find-my-way/issues/104.
I'll try to figure out the issue as soon as I have time, meanwhile, feel free to try giving it a stab!
[Here](https://github.com/delvedor/find-my-way/blob/master/test/issue-104.test.js) you can find some testing that is already existing arou

[2021-05-01 19:26] Eomm commented on #190
I cannot reproduce the error with this test case, what am I missing?

[code]

[2021-05-01 20:14] SJrX commented on #190
Hi @Eomm there is a 4th route that is significant

[2021-05-01 20:38] Eomm commented on #190
Thanks, that one trigger the issue 👍🏽
I have updated the test

[2021-05-18 14:39] MarcelloTheArcane opened #191 "ignoreTrailingSlash right after parametric route not working properly"
### Setup

[code]

I'm using Fastify, so it's a bit different, but that's the gist of it.

### Tests

Path: `/param/blah-blah/`
Matched: ✔️

Path: `/param/blah-blah/more-stuff/`
Matched: ✔️

Path: `/param/`
Matched: ✔️

Path: `/param`
Matched: ❌

### Issue

I'd expect that with `ignoreTrailingSlash` set true, the last one would match as well (since `/param/` does).

[2021-05-18 15:33] mcollina commented on #191
I think this is working as expected.

`/:param/*` and `/:param`

Considering them the same route seems overly dangerous.

[2021-05-18 16:05] MarcelloTheArcane commented on #191
Okay, that's fine.  I guess in my case I can set up a 302 from `/param` to `/param/`.

It just seemed weird that when I was explicitly setting ignoreTrailingSlash it should let me accept any danger from making them the same.

[2021-05-18 16:05] #191 closed

[2021-05-18 18:17] Danial-EP commented on #190
@Eomm any update for this issue?

[2021-05-18 18:42] Eomm commented on #190
I'm not working on it, I had the chance to reproduce it but not to fix it

[2021-05-18 18:51] Danial-EP commented on #190
We are using old `Restify` version blocked to upgrade it. But I've realized both `Restify` and `Fastify` using `find-my-way` for the routing. Is there any way to prioritize it?

We cannot reproduce it in version 2
[code]

[2021-05-18 20:12] mcollina commented on #190
Would you like to work on this or fund the development of a fix?

[2021-05-19 19:10] MarcelloTheArcane commented on #191
@mcollina Having done that, I'm now facing another problem I didn't think I should have:

[code]

In this scenario, everything is getting caught by that `/:param` redirect, including static URLs (so they then go to `/some-static-url/`).  I thought this shouldn't happen because according to the docs:

[2021-05-22 09:24] mcollina commented on #191
That's a different problem than this one, open a fresh issue with a repro.

[2021-05-24 08:29] jaschaio commented on #80
I am having the exact same problem.

What if I have multiple, ambigious parameter names?

e.G. a route like `/4257` that should resolve to `/:id` and another route like `/about` that should resolve to `/:page`.

My thought was to make this with regex patterns like described by @kiramdany but I get:

[code]

[2021-06-10 21:56] kissmygritts opened #192 "Route with a . (period) between parameters"
I've looked over the tests here: https://github.com/delvedor/find-my-way/blob/master/test/issue-17.test.js and I they all seem to check that parameters are successfully parsed when separated for a hyphen.

Is there a solution for a route like this? `/features/:table/:id.:format` I get the following for the parameters:

[code]

[2021-06-10 22:19] mcollina commented on #192
Ouch! I don't think this is supported, would you like to send a PR?

[2021-06-10 23:45] kissmygritts commented on #192
I'll see what I can do, but I can't make any promises.

I did find a work around. In my case the id will always be a number so the following works:
`/features/:table/:id(\\d+).:format`

[code]

Thanks for the quick reply.

[2021-06-15 08:43] #192 closed

[2021-07-05 18:27] Eomm opened #196 "mustMatchWhenDerived ignored"
The `mustMatchWhenDerived` flag seems ignored configuring a custom constraint.

Starting from this example, the last lookup with `hello: C` header, it should not execute the `NO CONSTRAIN` handler for what I have understood by this flag:

I understand: if `mustMatchWhenDerived` is true, a handler without constraint is not considered.

[code]

NB: the output is always the same, regardless of the fl

[2021-07-06 03:09] airhorns commented on #196
Looks like a legit bug, I think I know where it is and will update that PR with a fix!

[2021-07-07 08:44] #196 closed

[2021-09-16 15:19] delvedor opened #202 "Incorrect wildcard behavior"
If a route contains a wildcard and a static path at the end, it will find a route even if the last chunk of the path does not match.

[code]

[2021-09-23 06:21] petr-pokorny-1 opened #203 "[Question] comma as a separator in the route?"
Is it possible to interpret comma as a separator in the route (similar to dashes and dots)?
I did have a look into source code and it looks like separators are hardcoded. My test produces the following output:
[code]

[2021-09-23 07:17] petr-pokorny-1 commented on #203
I was able to find the solution. Sorry for the noise

[code]

[2021-09-23 07:17] #203 closed

[2021-09-23 07:30] mcollina commented on #203
Awesome!

[2021-09-28 18:06] zekth opened #204 "Regex tokens not working"
These two tokens does not seem to work:

[code]

Ref:
- S : non whitespace character
- D : non digit character

Any clue why those does not work? Even with the `allowUnsafeRegex` is does not work.

[2021-10-01 06:17] tamilvendhank-helptap opened #205 "Can this be simplified to use with websockets?"
Hello there,

I am wondering, if this library can be simplified to create an another library, for websocket messages routing.
If it can do something like following, it would be great!

[code]

[2021-10-01 16:52] mcollina commented on #205
I think you could create such a small wrapper.

[2021-10-01 17:03] mcollina commented on #204
At first glance I would not use the ^ there.

(I would usually recommend against using regexps for these).

[2021-10-01 17:04] mcollina commented on #204
I don't know, this would probably be investigated. Maybe it's an escaping issue? Or we should pass some custom option when we create the Regexp?

[2021-10-02 21:07] RafaelGSS commented on #202
Hi @delvedor I've been working on a solution for it, however, I feel that would be great an advice on it.

As far I understood from the source code, when we register:

[code]

it generate the following node:

[code]

---

Some solutions that come to my mind at the first moment:

1. Change https://github.com/delvedor/find-my-way/blob/master/index.js#L204 to

[code]

2. Change https://github.com/del

[2021-10-03 12:41] zekth commented on #204
I wanted to know if a known flaw. I'll dig it.

[2021-10-05 20:34] mav-rik opened #206 "the lib doesn't handle url-encoded URI properly"
### The problem

The lib doesn't handle url-encoded URI properly. It's impossible to set tricky routes. There are many issues are related to this root reason ([fastify-static-143](https://github.com/fastify/fastify-static/issues/143), [fastify-static-234](https://github.com/fastify/fastify-static/issues/234), [fastify-3356](https://github.com/fastify/fastify/issues/3356)).

### The example

Let's

[2021-10-06 13:54] mav-rik opened #208 "fast-decode-uri-component isn't really fast"
### fast-decode-uri-component isn't really fast

During my investigation of #206 problem I was playing with `fast-decode-uri-component` in order to create `fast-decode-uri` that would work exactly as `decodeURI`. During my own benchmarking I was never able to beat the standard `decodeURI`. The reason for that, as I found later, was the test data.

In `fast-decode-uri-component` they use a lot of m

[2021-10-13 20:48] RafaelGSS commented on #202
Yes. I'm not sure whether I'll have free time this week or further weeks to look at it, but assuming that it will modify a hot path (find) we should be careful in that change. I'd be glad to review a PR if you make it.

[2021-10-15 12:23] Eomm commented on #208
My results are the following (the winner is highlighted)

[code]

<details>
  <summary>Bench script!</summary>

[code]
</details>

[2021-10-15 12:27] mcollina commented on #208
And if we combine the two?

[code]

[2021-10-15 12:39] Eomm commented on #208
All the string has the `%` in this script, the results are almost the same

[code]

[2021-10-15 12:51] mcollina commented on #208
If I read your benchmark shortly, the combo of the two is equal of the best case of both.  Specifically there was `acde=bdfd` which was faster with `fastDecode`.

[2021-11-12 13:08] #206 closed

[2021-11-14 18:10] jtarchie commented on #204
The capture group for both includes  `^`, which in this context means _"asserts position at start of line"_. These aren't ever going to match because there is no start of line here.

[2021-11-14 20:56] zekth commented on #204
I'm not sure this is the case. As this test for example won't pass either:
https://github.com/delvedor/find-my-way/blob/70844a9c1effe065915ceabef3867abb1add618d/test/regex.test.js#L37-L50

[2021-11-14 21:29] jtarchie commented on #204
It’s still looking for the start of line. What do you think the caret is suppose to be doing here?

[2021-11-14 21:58] zekth commented on #204
In this context
[code]
The line passed to the regex test is `12` so it matches. Which is executed here: https://github.com/delvedor/find-my-way/blob/70844a9c1effe065915ceabef3867abb1add618d/index.js#L552

This case works, so i don't get your point.

Even without `^` token, the test for `\S` and `\D` doesn't passe

But if you have a solution for this, raise a PR or a working example

[2021-11-18 12:56] petr-pokorny-1 opened #212 "Route does not match when the parameter value is long"
The following test fails when the `paramValue` is a long string.
Am I doing something wrong?

[code]

[2021-11-18 14:37] petr-pokorny-1 commented on #212
@Eomm I see. Thank you for your help. sorry for the noise.

[2021-11-18 14:37] #212 closed

[2021-11-19 15:50] Uzlopak opened #213 "Add .npmignore for non-production data"
It would be nice if we could add a .npmignore and remove all non-relevant files for the npm package.

Currently find-my-way is about 258 kb big. We could save 178 kb when we ignore

[code]

not tested

[2021-11-20 18:53] #213 closed

[2021-11-26 17:03] kiramdany commented on #80
@jaschaio
Just been looking at this library again recently. Seems that's a known caveat of the library unfortunately https://github.com/delvedor/find-my-way#caveats

[2021-12-01 10:17] luisorbaiceta opened #215 "Lint job in github action not working for Windows environments"
CI pipeline is failing due to a  `node.js` name collision in windows systems

[2021-12-01 23:16] #215 closed

[2021-12-05 11:03] #208 closed

[2021-12-20 12:17] emfomy opened #219 "Double colon route breaks default fallback when there is another route with a common prefix."
I register two routes:

- `GET /hello`
- `GET /hello:world`

Both routes work fine. However, the server freeze when sending request to `/hello:worl`, `/hello:world1`, `/hello:bar`, `/hello123` (i.e. and route start with `/hello`).

Without `GET /hello` registered, these routes can fall back to 404 properly.

### Code

[code]

### Related Issue
- fastify/fastify#3550

[2021-12-20 12:20] emfomy commented on #219
According to @climba03003 (https://github.com/fastify/fastify/issues/3550#issuecomment-997624300), it is related to the infinite loop in `.find` method.

https://github.com/delvedor/find-my-way/blob/695654cdd452d2993ada90cc87bdf8d695aee076/index.js#L497-L505

[2021-12-22 18:58] bugagashenkj opened #221 "Incorrect switch to parametric brother route"
When the node switches to the parametric brother node, the path doesn't change correctly. This can lead to such errors. When only the first route is registered, the execution goes without switches and is executed correctly, but if two routes are registered, after switching it will match not the parameter `1111`, but the entire path `prefix1111`.

[code]

[2021-12-22 19:27] mcollina commented on #221
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-12-23 12:33] bugagashenkj opened #222 "Incorrect parametric brother route set up."
Sometimes it sets a non-nearest parametric brother route. Static route `/text/hello` will have `/:c` as a parametric brother, but should have `text/:e/test`.

It's not the same issue with (#221)

[code]

[2021-12-23 12:34] mcollina commented on #222
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-12-23 12:35] bugagashenkj commented on #222
If you set up routes in a different order this will work
[code]

[2021-12-24 04:51] emfomy commented on #219
Fixed in [v5.1.1](https://github.com/delvedor/find-my-way/releases/tag/v5.1.1).

[2021-12-24 04:51] #219 closed

[2021-12-28 15:03] #222 closed

[2021-12-28 15:03] #221 closed

[2021-12-28 15:11] bugagashenkj opened #227 "Wildcard node should be checked for constraints"
If a wildcard node does not pass constraints check we will return the default route even if there is another wildcard node that matches constraints.

There is a test for this case:
[code]

[2021-12-28 15:11] bugagashenkj commented on #227
I will fix it when I have some time. I just leave it here to remember.

[2022-01-04 15:28] bugagashenkj opened #232 "Benchmark results depend on their order"
There is something wrong happening with benchmarks. What I can say now is if you reorder your test cases you can get different results. I can't tell right now why it's happening, there can be myriads of reasons. I wanna start with the most extreme case: the first test case executes much faster than others. I was trying to test it on my laptop and my PC and got the same results. That's why I think

[2022-01-04 15:32] mcollina commented on #232
Would you like to send a PR to improve the benchmark suite?

[2022-01-04 15:35] bugagashenkj commented on #232
I'm not sure what's happening. It's really hard to separate your hardware/os from V8, opt. compiler, benchmark library, etc. to find out where the problem is. So at first, I want to know if there is only my problem or not.

[2022-01-04 15:49] mcollina commented on #232
you'd need to execute each test in its own process or worker thread.

[2022-01-14 10:56] ivan-tymoshenko opened #234 "Decoding URL Components"
There is how decoding URL components is working right now. If URL contains "%" symbol - URL will be decoded by standard js decodeURI function and if URL contains one of this symbols "# $ & + , / : ; = ? @", URL params will be parsed from the original (non-decoded) url and will be decoded either by fastDecode or customDecode function. There is a problem here. If one part of a URL has one of this sy

[2022-01-14 11:00] bugagashenkj commented on #234
I'm pretty sure that the previous test should work how I described it. But here I have a problem. Which of the two last commented test cases should be correct.

[code]

[2022-01-14 11:12] bugagashenkj commented on #234
Another way of this problem: when people create a custom decoder what url they expect? If we pass to the decoder completely raw URL as we do know, then in one case if it's just '/%F0%9F%8D%8C' they will receive '🍌', but if it's '/%F0%9F%8D%8C' + something that contains "# $ & + , / : ; = ? @", they will receive "/%F0%9F%8D%8C" + something. And they will have to parse not only this symbols "# $ & +

[2022-01-14 12:36] bugagashenkj commented on #234
There is a test that I don't understand.
1. There defined a custom decoder.
2. There is a dynamic route
https://github.com/delvedor/find-my-way/blob/5beaacfcb6d1bb53663a90b5e7f0d5e9540e15ce/test/custom-decode-uri.test.js#L56
3. We pass "/%23%F0%9F%8D%8C" (encoded /#🍌 as I understand)
https://github.com/delvedor/find-my-way/blob/5beaacfcb6d1bb53663a90b5e7f0d5e9540e15ce/test/custom-decode-uri.test.j

[2022-01-14 16:42] fxalgrain opened #235 "Issue in parameter resolution"
Hi,

I m using my find-my-way via Fastify and I m facing an issue parametrics url.

I defined a route like that : `GET /images/:id.jpg`
When I make this request `GET /images/123456.jpg` it works as expected but when I make this one :  `GET /images/12346-fr.jpg`
It's does not work.

I think the issue is linked  to the support of multi params

[2022-01-14 17:05] bugagashenkj commented on #235
Hi, IMHO, it shouldn't be a multiparametric node since there is only one param in your URL.

[2022-01-14 17:20] bugagashenkj commented on #235
I think the problem should be where it defines it as a multiparametric route.
https://github.com/delvedor/find-my-way/blob/5beaacfcb6d1bb53663a90b5e7f0d5e9540e15ce/index.js#L202

[2022-01-14 17:20] fxalgrain commented on #235
Yes it sounds a bit strange. As I understand the . is defined as a splitter.
Made a change looks me risky.

[2022-01-14 17:27] Eomm commented on #234
True

Almost: the URL must contain those _encoded_ symbols

Do you think fastDecode has some issues?

I agree

I think the first one: `'🍌-foo#bar'`

I agree that it is an error. There is some issue with the parameter counter when the slice function is applied.

[code]

[2022-01-14 18:03] fxalgrain commented on #235
I think if we change this behavior , the .jpg will not be excluded from param value

[2022-01-14 18:18] bugagashenkj commented on #234
The problem: if we pass to the fastDecode/customDecode non-decoded (by the decodeURI function) param, we need to parse 🍌 manually; if we pass decoded param, we will decode it twice and will get a wrong param value.

[2022-01-18 16:33] bugagashenkj opened #238 "Multi-parametric route params problem"
I will just try to generalize this issue #235. Sorry, it seems to be too long, I just tried to explain it clearly.

**Problem**: It's not clear where the param ends in the multiparametric node.

### Why parametric routes are good:

If it's just a parametric route - it is always placed between two slashes and if you have a slash inside your param it will not parse. It's ok because you shouldn't hav

[2022-01-18 17:15] #232 closed

[2022-01-24 13:25] bugagashenkj commented on #238
@delvedor @mcollina @Eomm @RafaelGSS any thoughts?

[2022-01-24 20:20] RafaelGSS commented on #238
For me: `{ param1: 'hello1', param2: 'hello2-hello3' }`

For me: `{ param: 'hello1-hello2' }`

---

Actually, I feel that would be a bit hard to support those multi-parametric routes without any performance regressions.

[2022-01-24 21:02] bugagashenkj commented on #238
@RafaelGSS Thank you for your comments.

Can you explain how your suggestion should work? From the first example, I understand that you decided to split params by the first match of the '-' symbol and then ignore all other '-' and '.' symbols. But in the second example, you decided to skip the first '-' symbol in order to match the whole URL.

I'm not talking about performance at all. Can you plea

[2022-01-24 22:10] Eomm commented on #238
Parameters must be escaped, so it must be `find('GET', '/foo/he%2Fllo/bar')`.

Why?
I think here there is a lack of documentation that stands:

⚠️ Use with common sense

I would not deprecate this feature: it is useful to cover some (not so good) patterns used by legacy frameworks. Let's call it an `advanced feature`: every user has a delete button hidden somewhere.

I think this feature could be

[2022-01-25 11:15] bugagashenkj commented on #238
@Eomm I agree with you on most points. Supporting all cases seems impossible in that situation. What I want to do is defined a simple 'common sense'. Just a simple rule on how we will work with such cases. It can't be perfect, but it will exist and will be written in the documentation. So when issues like this #235 appear, we could definitely say is a bug or not.

P.S. I'm trying to optimize some

[2022-01-25 14:24] mcollina commented on #238
Here is my rule of thumb: if it's covered by tests, that's behavior. If it's not covered by tests, it's either a new feature or a bug. We could codify some of this unsupported behavior with a few assertions and that'd be ok.

[2022-01-25 14:38] bugagashenkj commented on #238
I don't wanna break current behavior. Can you suggest how a new version with adjustments should work?

[2022-01-25 17:40] mcollina commented on #238
If the tests pass, you are not breaking current behavior.

[2022-01-25 17:46] bugagashenkj commented on #238
Yeah, I know, but we don't have tests that cover cases that we discuss here. And the problem is that we can fix only some of them. So we need to decide what behavior should be. Let's start with this issue #235. Should it work how the author described it?

[2022-01-25 17:55] mcollina commented on #238
I think it should work as you would feel it's good to work. Once there is a PR to implement those edge cases we can evaluate it more closely. It's hard to know just by looking at the issues.

[2022-01-25 18:00] bugagashenkj commented on #238
I'm working on that. It's PR #237 where it will be released. But since there can't be one right way to do it, I decided to create this issue and ask you about how would you want this to work. Am I doing this in the wrong way?

[2022-01-25 18:04] mcollina commented on #238
At this point I think you have more knowledge on the topic than possibly anyone on this team.
Neither @delvedor nor myself use multi-parametric params and

As a rule I would loosely follow whatever https://github.com/pillarjs/path-to-regexp does. We can differentiate but it's better we follow that standard because it's the most widespread.

[2022-01-25 18:28] bugagashenkj commented on #238
This is what I was looking for. Thank you very much. I will look deeply into how it is implemented. In case it's working as we expected, can we use it as a dependency for multiparametric routes? Just convert all that we have in the multiparametric route into one regex.

[2022-01-25 20:25] mcollina commented on #238
That module creates regexps that must be all tested (like express does). find-my-way creates a radix trie. I don't think we can just convert that straight away.

[2022-01-28 17:57] jsumners commented on #173
https://github.com/fastify/fastify/issues/3663

[2022-02-01 11:32] #227 closed

[2022-02-17 10:17] nvandamme opened #239 "[proposal] Add MQTT PubSub"
Hi,

`find-my-way` is clearly focused on handling HTTP verbs, but under the hood, it has all requirements for MQTT PubSub  or WebSocket routing.

Is it possible to overload HTTPMethods and req/resp in handlers to support Mqtt routing based on topics path ?
The main use case is to route MQTT message on subscribed topics.

For example:
[code]

[2022-02-17 16:13] mcollina commented on #239
I would recommend you to check out https://npm.im/mqemitter. I worked a lot on the topic and I would say this is really out of topic for FMW

[2022-02-17 16:13] #239 closed

[2022-02-17 17:27] nvandamme commented on #239
Ok thanks, interesting project but it doesn't handle regexp dynamic params extraction, hence my proposal.

[2022-03-03 20:17] code-ape opened #240 "Unexpected behavior on double slash in path"
## Description

Today, find-my-way handles empty variables in a way that feels very unintuitive. For example, the route pattern of `/a/:b/:c/d` matches `/a///d`. This is very confusing and also causes a "gap" with fastify and fastify-swagger (see last section for details).

I'm unsure if this is expected behavior or a bug? If it is expected, would it be crazy to offer a configuration option to col

[2022-03-03 20:23] mcollina commented on #240
This is expected! A new option would be ok.

[2022-03-03 20:53] code-ape commented on #240
Thanks for the quick reply @mcollina! I'm happy to open a PR for this, if it's something small and you could point me to a similar config option to mimic?

[2022-03-04 14:22] mcollina commented on #240
https://github.com/delvedor/find-my-way/pull/50 would be a good one.

[2022-03-19 17:58] darkuranium opened #241 "Bug: Broken routing for aliased routes ending with `<...>/::something` & `<...>/:some_var`"
**Versions tested:**
- 4.5.1 (Fastify dependency: `"find-my-way": "^4.5.0"`)
- 5.2.0 (latest)

*Both contain the bug, but the symptoms are different. The bug is more severe in 5.2.0.*

**TL;DR:** There appears to be a bug for pairs of routes, one ending with `/::something` and the other with `/:some_var`. The exact behavior depends on the `find-my-way` version (*see "Observed behavior" below*), bu

[2022-03-19 18:19] mcollina commented on #241
You can't have ambiguous behavior. If `:` is used to detect the start of param, you can't use it as a prefix.

I'm not sure if we support it, but having `/something/\::foo` would be nice. What's the syntax of express for this case?

[2022-03-19 18:44] darkuranium commented on #241
I don't see the ambiguity here. According to the readme of this project, `::` is the way to escape a `:`. Thus, `/::articles` should mean a *literal* `/:articles` in the URL.

Quoted from the readme:

The only ambiguity is between `/:some_param` and `/something_not_a_param`, but this case is (to my knowledge, and definitely behavior-wise) handled by `find-my-way` anyway (by first checking the "sta

[2022-03-19 20:18] mcollina commented on #241
The invite stands: would you like to send a PR?

[2022-03-20 16:11] darkuranium commented on #241
I can *maybe* look into it in a few days, but can't be sure I'll be able to, as my schedule is currently very busy.
So: I'll see what I can do, but no promises are made.

[2022-03-28 14:10] #241 closed

[2022-04-06 10:34] #235 closed

[2022-04-06 11:02] #238 closed

[2022-04-06 11:03] mcollina commented on #238
Thanks for bearing with us, it took quite a bit of time to understand and fix this!

[2022-04-06 17:59] bugagashenkj commented on #204
@mcollina @delvedor This can be closed.

[2022-04-06 18:14] #204 closed

[2022-04-12 06:56] OrangeXC opened #247 "router.off method support host filter"
When there are two identical paths in the route, but the host is different

[code]

When executing the off method, want to filter by host, like:

[code]

But now only the path parameter is supported，Run the following code and both routes will be deleted

[code]

[2022-04-12 08:14] mcollina commented on #247
Good spot!

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-04-17 15:11] bugagashenkj commented on #234
I have a problem here and I need your help with it. I will describe how we decode a URL with params. At first, we decode the whole URL with decodeURI function, in order to decode symbols we need to match the URL to a registered path. Then if we find a param, we need to parse and decode it again from the original path (from the path that we didn't decode with decodeURI). We found the param in the d

[2022-04-18 09:14] bugagashenkj commented on #234
@mcollina @Eomm I need your help here. Maybe you know a good example of another lib or standard which should describe how it should work?

[2022-04-18 09:35] ivan-tymoshenko opened #252 "Meta issue"
@mcollina Hi, I can go through the issues that we have and describe where we can do something and where we can't. Can we close some of them after that? I know there are only 20 of them, but it would be great to add at least bug or enhancement labels for them.

[2022-04-18 09:51] mcollina commented on #234
I would recommend looking at path-to-regexp or URLPatter https://wicg.github.io/urlpattern/

[2022-04-18 16:47] bugagashenkj commented on #234
@mcollina I tested the path-to-regexp library.
[code]

Is this correct behavior?

[2022-04-18 17:03] bugagashenkj commented on #234
URLPattern matches the url, but it doesn't decode the param.
[code]

[2022-04-18 17:05] bugagashenkj commented on #234
path-to-regexp, URLPattern, and find-my-way have three different ways to deal with encoded URLs.

[2022-04-18 18:17] mcollina commented on #234
I don't think there is a preferred way to handle this.

[2022-04-19 06:54] bugagashenkj commented on #234
Ok, but the problem is that find-my-way has an issue with that.
https://github.com/delvedor/find-my-way/issues/234#issuecomment-1100897675

[2022-04-19 07:51] mcollina commented on #234
Unfortunately I do not have enough time right now to design a solution for this. I'd be happy to review a PR.

IMHO we should align to either path-to-regexp or URLPattern.

[2022-04-22 16:43] climba03003 opened #254 "`constraints` will be overrided when multiple router created"
The current code override the `HandlerStorage.prototype.constrainer` to get the `constrainter` in router.
It will be override when two store created first before any route trying to lookup.

[code]

[2022-04-22 21:22] #254 closed

[2022-04-24 13:35] Eomm commented on #252
Issues triage is welcome!

[2022-04-24 14:04] #247 closed

[2022-04-25 11:56] bugagashenkj commented on #240
@mcollina I'm not sure that this behavior is expected. If we are talking about `ignoreTrailingSlash` it removes only the last slash as expected. If we are talking about an empty param, we can consider it a bug and fix it, or create a new option that will check param length is greater than zero. path-to-regexp doesn't match an URL if param length equals 0 and has no option to change it.

[2022-04-25 11:58] bugagashenkj commented on #205
I agree that it's shouldn't be here. Can we close it?

[2022-04-25 12:19] bugagashenkj commented on #202
I would say that we can't implement it and we don't need it. The real difference between parametric and wildcard param is that wildcard parma can have slashes, but parametric doesn't. If we allow having something in a path after wildcard param, it would be impossible to handle it.

Examples: `/*/:param`, `/*/*` (+ you can add any static parts inside them, it doesn't help)

If you need a param insi

[2022-04-25 12:29] bugagashenkj commented on #190
I added a test for this issue #260. I guess this issue can be closed.

[2022-04-25 12:45] bugagashenkj commented on #173
@delvedor @mcollina What about this issue. Should we move find-my-way to the Fistify org, or should we close this issue?

[2022-04-25 13:13] bugagashenkj commented on #80
Can we close it?

[2022-04-25 13:47] #80 closed

[2022-04-25 14:09] bugagashenkj commented on #101
This issue was fixed. I added a test here #261. We can close this.

[2022-04-25 14:24] bugagashenkj commented on #149
This issue was fixed. I added a test here #262. We can close this.

[2022-04-25 14:55] bugagashenkj commented on #161
This issue was fixed. I added a test here #263. We can close this.

[2022-04-25 16:03] bugagashenkj commented on #164
I guess we have nothing to do with it. Can we close it?

[2022-04-25 16:20] bugagashenkj commented on #252
Issues that were fixed and should be closed: #190, #161, #149, #101
Suggestions that we shouldn't implement (IMHO), can be closed: #205, #202, #164

[2022-04-25 18:56] jhechtf commented on #164
Yes, thank you!

[2022-04-25 18:56] #164 closed

[2022-04-25 19:14] mcollina commented on #123
find-my-way is only a router, it does not send responses back. This is a higher level concern (framework): find-my-way responsibility should be to provide enough metadata for a framework to implement this behavior.

[2022-04-25 19:15] #161 closed

[2022-04-25 19:15] #149 closed

[2022-04-25 19:15] ivan-tymoshenko commented on #123
Can we close it, then?

[2022-04-25 19:16] #101 closed

[2022-04-25 19:25] #123 closed

[2022-04-25 19:43] #202 closed

[2022-04-25 19:44] #190 closed

[2022-04-25 19:44] #173 closed

[2022-04-25 19:45] #205 closed

[2022-04-25 19:47] ivan-tymoshenko commented on #252
@mcollina thank you very much.

[2022-04-25 19:48] #252 closed

[2022-04-25 20:10] mcollina commented on #240
You are right, closing.

[2022-04-25 20:13] ivan-tymoshenko commented on #240
Actually, I suggested fixing it or creating an option that will enable an empty param check.

[2022-04-25 20:17] ivan-tymoshenko commented on #240
@mcollina Can you reopen this, please?

[2022-04-26 03:27] tamilvendhank-helptap commented on #205
@mcollina, @ivan-tymoshenko apologies. I must have closed this on my own.
@mcollina, I took your suggestion and wrote the code. I have been using it on production for a while. Thanks for that.

[2022-04-26 08:30] Fdawgs commented on #125
Closed by https://github.com/delvedor/find-my-way/pull/156

[2022-04-26 21:15] #125 closed

[2022-05-01 20:39] ivan-tymoshenko opened #271 "Pretty print method with a common prefix option doesn't have much sense"
There is an option in the prettyPrint method that as said "prints the representation of the internal radix tree, useful for debugging". The internal structure has a tree for each HTTP method, but the pretty print method builds one merged tree. To build this tree, it is modifying node prefixes, so it's will not help you if you want to debug something.

Another problem is that this method doesn't pr

[2022-05-02 07:11] kibertoad commented on #240
What's wrong with having a config option that replicates behaviour of most http servers, if it doesn't affect hot path?

[2022-05-02 08:00] ivan-tymoshenko commented on #240
Unfortunately, this will affect a hot path.

According to the [rfc2396](https://www.ietf.org/rfc/rfc2396.txt): "The path may consist of a sequence of path segments separated by a single slash "/" character.  Within a path segment, the characters "/", ";", "=", and "?" are reserved.". As I know path-to-regexp (express router) also doesn't have the ability to ignore multiple slashes. Even though som

[2022-05-02 08:42] kibertoad commented on #240
@ivan-tymoshenko If it's an opt-in config switch, how would that affect a hot path?

[2022-05-02 09:42] ivan-tymoshenko commented on #240
I mean if support wildcard correct behavior, it might be a performance drop even if it's optional.

[2022-05-02 09:46] ivan-tymoshenko commented on #240
We can try and see benchmark results.

[2022-05-02 19:49] mcollina commented on #271
go for it!

[2022-05-04 05:38] climba03003 commented on #271
`commonPrefix: true` print the actual radix tree.
`commonPrefix: false` print the routing tree, it is useful for visualize all the routes (divide by slash).

I would say that the `false` option is added because the `radix-tree` structure is not good for reading (not for debugging).

[2022-05-04 08:29] ivan-tymoshenko commented on #271
I don't want to change the behavior of `commonPrefix: false`. I'm more concerned about `commonPrefix: true`. @climba03003 what do you mean by "actual" rooted tree, given that we are building different trees for each HTTP method, but drawing one tree?

[2022-05-04 08:44] climba03003 commented on #271
Yes. A single `radix` tree to show all `HTTP method` at a same time.
It would be great to show without modifying the `node`.

If I am not mistaken now, this issue contain two point.
1. Keep the current behavior, but it should not modify the `node` for printing.
2. Allow to print with separate `HTTP methods`.

[2022-05-04 09:02] ivan-tymoshenko commented on #271
If we print a merged radix tree without changing the nodes, it would be really messy. Why does someone need to print a tree with `commonPrefix: true` option. IMHO to see the internal structure for debugging purposes. In this case, the clearest way to do it is to print the actual radix tree by HTTP method. Can you give an example of when someone needs to print a merged radix tree?

[2022-05-04 09:08] climba03003 commented on #271
Not a use-case, but it is not convenient to scan through with multiple tree.
When I need to check for a single `path`, I need to scroll up and down if it is a separate tree.

[2022-05-04 10:08] ivan-tymoshenko commented on #271
What if instead of the common prefix we add the method option. If the method option is provided it will print the radix tree for this method, if not it will print the merged routing tree.

[2022-05-04 10:45] climba03003 commented on #271
It is better.

[2022-05-05 09:12] matthyk opened #272 "Add constraint outside the constructor"
Currently, constraints can only be added when creating the FindMyWay instance. It would be very useful to be able to add more constraints later via a method like ``addConstraint``. With regard to Fastify, this would allow plugins to add constraints without the developer having to specify the constraint itself when creating the Fastify instance.

[code]

Is this even implementable and if so is it d

[2022-05-05 18:42] matthyk commented on #272
Nice! Then I'll try to implement it!

[2022-05-08 13:26] alii opened #274 "Wait for async handler to resolve"
Would it be possible to wait for the async handler to resolve in the following code? How could we know when the lookup is done

[code]

[2022-05-08 13:46] ivan-tymoshenko commented on #274
Hi, the lookup function returns the result of a handler. If you return a promise in your handler, it will return from the lookup function. So yes, it will work.

[2022-05-08 13:53] alii commented on #274
ahh okay, perhaps the types are incorrect in this case as it's typed to return `void`:
<img width="963" alt="image" src="https://user-images.githubusercontent.com/25351731/167299476-7eb3fe71-6b8e-415d-8bf9-0feb2df06842.png">

[2022-05-08 14:00] ivan-tymoshenko commented on #274
Yes, there should be `any` type. https://github.com/delvedor/find-my-way/blob/a59117d0daf351429919d586e5edea4ef6d2a14b/index.d.ts#L151

Would you like to send a PR to address this issue?

[2022-05-08 14:02] alii commented on #274
I can do that, but I think it actually is the correct typings after testing it:

<img width="800" alt="image" src="https://user-images.githubusercontent.com/25351731/167299844-6e5a2a76-9614-49f7-aa41-70569067499b.png">

Also perhaps it would be better to allow a generic with a default value rather than `any`?

[2022-05-08 14:08] ivan-tymoshenko commented on #274
The `lookup` returns a handler's result. You can return a value of any type from the handler. I'm not sure that I got your idea of generic type.

https://github.com/delvedor/find-my-way/blob/a59117d0daf351429919d586e5edea4ef6d2a14b/index.js#L319

[2022-05-08 14:10] ivan-tymoshenko commented on #274
Are you sure that your handler returns a promise and not just undefined?

[2022-05-08 14:11] alii commented on #274
Ahh forgive me, I had visited a 404 route that was returning `void`. My mistake!

With regards to the generic, I mean to type `lookup` as follows:

[code]

[2022-05-08 14:18] ivan-tymoshenko commented on #274
Is there any difference between defining a type variable and using it once and inlining it?

[2022-05-08 14:38] alii commented on #274
I'm sorry I not sure I understand what you mean by that. I don't really think we need a generic for `Context` here as it is not really used, but Response is so it would make sense to keep that there

[2022-05-08 14:42] ivan-tymoshenko commented on #274
Can you give me an example of using a generic Response? Please make sure that the lookup function can return the result of any handler.

[2022-05-08 14:48] alii commented on #274
For sure! In my use case all of my handlers return a consistent shape of

[code]

it would be great for me to type something as follows: [https://www.typescriptlang.org/play](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAKjgQwM5wBYxmOAzKCEOAcgDsIATAUwC4scSBuAKBYGMAbNdAMQFkA6nADeLOBLicIEANYBXMAB4ASnAC8KMgE8AfAAoo1AI61M2MADoAkmXZFgZAOb9qqVMifUANHCOozBisAZWooADcwlTdIMlQfOHYYAA8AfjN5MlkKAHcy

[2022-05-08 15:04] ivan-tymoshenko commented on #274
I'm not sure that this is a good idea. The lookup function isn't generic by itself. And to be generic you have to provide the defaultRoute with the same result type. Otherwise the lookup function will return undefined.

[2022-05-08 15:08] ivan-tymoshenko commented on #274
@mcollina What do you think?

[2022-05-08 17:06] alii commented on #274
That's fair, in my instance I am sure that all routes will return a `HandlerResult`. I suppose if the results varied then you wouldn't have to provide a generic at all (e.g. defaulting to `any`).

The reason I removed `Context` is simply because it was only used to type `ctx`, which has the same effect as just doing `ctx: unknown` because we don't use `Context` anywhere else.

Happy to hear though

[2022-05-08 17:18] ivan-tymoshenko commented on #274
I agree with you, but technically, as I understand, removing Context can break someone's typescript code.

[2022-05-10 11:07] subhero24 opened #277 "Literal asterisk in url"
Is there a way to escape the asterisk * in the url to match the character literally?
Falling back to a regular expression like "/some/url/:asterisk(^\\\\*)" works, but I was wondering if this is the preferred way to do it?

[2022-05-10 11:13] ivan-tymoshenko commented on #277
Hi, there is no other way to do it, right now.

[2022-05-12 09:12] subhero24 opened #280 "Regex issue with other wildcard routes"
I encoutered an issue with a wildcard route that is not activated if I use a regex in another route.

When I have two routes `/a` and `/*` everything is fine and `/b` will render the wildcard route.
When I change the first route to use a regular expression to match "a", so that I have two routes `/:a(^a)` and `/*`,  the second route will never render and `/b` will result in a 404.

[code]

[2022-05-12 09:29] ivan-tymoshenko commented on #280
Hi, nice finding. Would you like to create a PR to fix it?

[2022-05-12 10:32] subhero24 commented on #280
Will try to create a PR for this.

As I am looking through the code, I have another question: is it expected behaviour to throw when defining two routes like this? Is only one regex allowed for every url part?

[code]

[2022-05-12 10:41] ivan-tymoshenko commented on #280
https://github.com/delvedor/find-my-way#caveats

[2022-05-12 10:43] ivan-tymoshenko commented on #280
The bug that you are trying to fix here:
https://github.com/delvedor/find-my-way/blob/a59117d0daf351429919d586e5edea4ef6d2a14b/index.js#L471

[2022-05-13 00:24] subhero24 commented on #277
Would you like me to create a PR for this? If so, let me know how the asterisk should be escaped.

[2022-05-13 08:06] ivan-tymoshenko commented on #277
To escape the colon in the path we use double colon "::". We could use a double asterisk to avoid a wildcard node, or we can continue using the leading colon as an escape symbol.

`/test/:*hello`
`/test/**hello`

I can't say right now that I like one of the options. You can reopen this issue and we will think about it.

[2022-05-16 18:31] subhero24 commented on #280
@ivan-tymoshenko

But should the following be allowed according to the caveats?

[code]

Cause matching this to `/b/static` fails

[2022-05-16 18:43] ivan-tymoshenko commented on #280
Can you open separate issue for that?

[2022-05-16 19:05] subhero24 commented on #280
It would seems very limiting to not be able to do this.

Do we need to prioritise them? could we keep these route parameters in the order they are registered?

[2022-05-16 19:13] subhero24 commented on #280
Maybe prioritise the more specific routes first (ie more segments vs less segments, more static segments vs parametric segments, etc)?

[2022-05-16 19:25] ivan-tymoshenko commented on #280
IMHO, we can't say that one route is preferable to another using anything other than the length of static prefix or node type.

What we can do is separate the parametric node on the parametric node and regexp parametric node and handle the regexp parametric node before the parametric node. It will allow us to add one parametric node and one regexp node. But only one. IDK, if it is worth it.

[2022-05-16 19:25] #280 closed

[2022-05-16 19:26] ivan-tymoshenko commented on #280
Can you open a new issue for this bug and describe it there?

[2022-05-16 20:10] subhero24 opened #285 "Parametric regex match fails with similar routes"
Using two routes which start with a regex param, the second route which should match `/b/static/` doesn't.

[code]

Here is a complete test:

[code]

[2022-05-17 17:54] ivan-tymoshenko commented on #285
@subhero24 I was wrong here https://github.com/delvedor/find-my-way/issues/280#issuecomment-1128024476. We can resolve it because there would always be only one matched route. The problem if we add multiple parametric route support is to check that `/:a(a)/static` and `/:b(b)/static` can't be registered at the same time.

[2022-05-17 22:26] #234 closed

[2022-05-17 22:30] #274 closed

[2022-05-18 22:33] #272 closed

[2022-05-20 18:46] ivan-tymoshenko opened #288 "v6.0.0. Performance increase"
Since version 6.0.0 was released, I want to publish a performance comparison between versions 5.0.0 and 6.0.0.
Thanks, everyone, for your help.

<img width="742" alt="Снимок экрана 2022-05-20 в 21 35 58" src="https://user-images.githubusercontent.com/31734731/169591618-7f242c69-1a30-4bec-9f1f-a48f166e6d57.png">

\* to normalize benchmarks in the main branch, I added querystring parsing (read more

[2022-05-20 20:37] RafaelGSS commented on #288
That's awesome. Definitely, we should make a blog post or at least a tweet announcing that.

[2022-05-20 20:40] RafaelGSS commented on #288
@ivan-tymoshenko Would you mind opening a new issue with potential points of improvement? It would help us to make it even faster in future versions.

[2022-05-20 21:07] ivan-tymoshenko commented on #288
@RafaelGSS I would like to share the list, but I don't have it. If I got an idea, I'm trying to implement it. Eventually, we will be stuck looping through the path. The overhead is not really big right now.

[2022-05-21 16:31] ivan-tymoshenko opened #290 "Static routes optimization"
@mcollina Hi, I have an idea for optimizing static paths. But I'm not sure it is worth it. Can you tell me from your experience, or maybe you got some statistics for Fastify:
1) What part of all routes do static routes take?
2) What part of all routes do static routes without querystring params take?

It's not an easy question, but maybe you got something. I have only my developer experience, and

[2022-05-21 17:20] mcollina commented on #290
What do you mean by part?

If you want to do bring this to the next level of perf we might want to generate a full function and get rid of the trie.

[2022-05-21 17:33] ivan-tymoshenko commented on #290
By part, I mean usage percentage. What percentage of static routes have in relation to all routes? Maybe static paths are a rare case and most people use parametric routes, so some overhead to optimize static paths is inappropriate.

I'm afraid it will not help. We are stuck looping through a path. Comparing char by char is really slow in comparison with comparing the hole string. It would help if

[2022-05-21 18:07] mcollina commented on #290
I would not overfocus on static routes, they are _very_ common when using fastify-static or similar, but serving static files with Node.js is a __bad idea__.

[2022-05-21 18:16] ivan-tymoshenko commented on #290
The static files case is clear. I'm more interested in the general request case. As I understand the most popular path template is something like `/entities/:id/property`. But maybe I'm wrong and there are a lot of projects that have a lot of static routes.

[2022-05-21 18:41] mcollina commented on #290
I agree with you with the exception of first level paths, /, /news, /about, /shop, etc.

[2022-05-25 09:08] #285 closed

[2022-08-16 12:06] jsumners commented on #173
https://github.com/fastify/fastify-http-proxy/issues/265#issuecomment-1216126120

[2022-08-24 19:09] #290 closed

[2022-08-24 19:10] #288 closed

[2022-09-20 10:16] climba03003 opened #303 "async deriveConstraint support"
I have through about it a long time ago and tried hard to prevent this usage in my application.

The use-case I have is derive the route based on `JWT` token.
I contain all the required `permission`, so the `router` can reach their dedicated `handler` based on `JWT` token.

In a relative small scale project, it works absolutely fine and I am happy with the result.
But somehow when the project grow

[2022-09-20 10:20] climba03003 commented on #303
The `async` request here is not about `async-await`.
But the resolve of `constraint` value can be done in `async` way, `callback` usage is absolutely fine.

[2022-09-21 13:44] tjoskar opened #304 "TypeError: currentNode.createStaticChild is not a function for wildcard route"
Hi,

Let's say I have the following code:
[code]

With find-my-way@4.5.1 (that is included in fastify@3.29.2) the code above works fine and I can run `curl http://localhost:3000/assets/hello.js` and get back `{"route":"/assets/hello.js"}` but with `find-my-way@7.2.0` (that is included in fastify@4.6.0) I get:

[code]

I guess this is a bug? Or is it a better way to get all requests that request fo

[2022-09-21 13:48] ivan-tymoshenko commented on #304
Try this route `/:file(.*).js`

[2022-10-02 10:02] #304 closed

[2022-10-06 09:19] #303 closed, assigned to nobody

[2022-10-11 21:48] twalling opened #308 "Method 'OPTIONS' already declared for route '/*'"
It seems around the 7.0.1 update something changed which now throws an error for my following route.

[code]

Nothing changed in our app and I've been running into this when I upgrade `fastify` from 4.6.0 to 4.7.0 (or higher). That was when the dependency for `find-my-way` went from 7.0.0 to 7.2.0. Looking through diffs/releases it seems like the 7.0.1 update may have touched something which affec

[2022-10-11 21:52] ivan-tymoshenko commented on #308
Hi, thanks for reporting. I think it might be #297. If you want you can find and fix it or I will do it when i have some time for it.

[2022-10-11 21:54] twalling commented on #308
I'll start with forking and seeing if I can expose it via a test. Thanks.

[2022-10-11 22:38] twalling commented on #308
I couldn't reproduce with a test. I think everything is fine here. For anyone who might run into this I've been able to narrow it down to `@fastify/cors` which was adding a route at `*`. To figure out which fastify plugin was adding the conflicting route I added this to my app:

[code]
Then proceeded to comment out each fastify plugin I was using. Now I just have to figure out how to resolve the i

[2022-10-11 22:44] twalling commented on #308
So `@fastify/cors` adds the following route:

[code]

https://github.com/fastify/fastify-cors/blob/master/index.js#L42

#297 specifically prevents my routes that I documented in this ticket from being used when `@fastify/cors` is used. Before closing this ticket I'm just curious if anyone has any input on what the correct setup would be? It would seem right now that one cannot use `@fastify/cors`

[2022-10-11 22:50] ivan-tymoshenko commented on #308
You can separate this two hanlders by using constraints. I guess proxy request should have specific header you can use. Does it work for you?

[2022-10-12 00:49] twalling commented on #308
I have everything I need. Thanks for all the quick responses.

[2022-10-12 00:49] #308 closed

[2022-10-21 04:07] Beace opened #309 "regex /:subpath(.*) not match /a/b/ /a/b/c"
maybe `.*` can not match  string with `/` . Is this by design?

[code]

[2022-10-21 05:52] mcollina commented on #309
It's by design, use a wildcard to much across more than one route level.

[2022-10-24 07:05] Beace commented on #309
OK, I will manually parse the path.

[2022-10-24 07:05] #309 closed

[2022-10-24 20:18] tinchoz49 opened #310 "Allow to define a custom safeDecodeURI"
Hi @delvedor @mcollina

I'm working with `aws-lambda-fastify` and I notice that the plugin does extra work related with parsing the url + querystring, things that are already done by the aws lambda itself.

One of this extra steps is the `safeDecodeURI` and I was thinking that maybe we can have the option of a custom handler for that, like what you provide for `querystringParser`.

Would you be op

[2022-10-24 20:45] ivan-tymoshenko commented on #310
Hi, If I understand you correctly, you want to add a custom `decodeURI` option. It wouldn't work because find-my-way has deep decoding integration with a custom decoding mechanism. Like here
https://github.com/delvedor/find-my-way/blob/e3daace8b70ea89a0b4f4154150b02a26c8a2f51/index.js#L188

\+ find-my-ways decoding mechanism is really fast. If your URL is already decoded, it will cost you almost n

[2022-10-24 21:01] tinchoz49 commented on #310
Hi @ivan-tymoshenko, is true testing with the performance script of `aws-lambda-fastify` my purpose does almost nothing improving the performance, find-my-way + fastify already does a nice job, I will close the issue.

Fastify is freaking fast
[code]

Thank you for the quick response.

[2022-10-24 21:01] #310 closed